.gesil-card {
    background: var(--surface-card);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: var(--content-border-radius);

    &:last-child {
        margin-bottom: 0;
    }
}


.page-heading {
    font-weight: var(--font-weight-semibold) !important;
}