<app-page-header title="Edit User" [backButton]="true"></app-page-header>


<div class="gesil-card mt-4">
    <p-tabs [value]="selectedTab">
        <p-tablist>
            <p-tab [disabled]="!permissionService.hasPermission(PERMISSIONS.MODIFY_USER_DETAILS)" [routerLink]="[]"
                [queryParams]="{tab: 'basic-details'}" value="basic-details">User Basic
                Details</p-tab>
            <p-tab [disabled]="!permissionService.hasPermission(PERMISSIONS.MODIFY_USER_DOCUMENT)" [routerLink]="[]"
                [queryParams]="{tab: 'documents'}" value="documents">User Documents</p-tab>
            <p-tab [disabled]="!permissionService.hasPermission(PERMISSIONS.MODIFY_USER_REPORTING_STRUCTURE)"
                [routerLink]="[]" [queryParams]="{tab: 'reporting'}" value="reporting">User Reporting</p-tab>
            <p-tab [disabled]="!permissionService.hasPermission(PERMISSIONS.MODIFY_USER_PERMISSION)" [routerLink]="[]"
                [queryParams]="{tab: 'permission'}" value="permission">User Permission</p-tab>
            <!-- <p-tab [routerLink]="[]" [queryParams]="{tab: 'doc'}" value="3">Wards Assignment</p-tab> -->
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="basic-details">
                <app-user-create [editMode]="true" [editUser]="userBasicDetail"></app-user-create>
            </p-tabpanel>
            <p-tabpanel value="documents">
                <div class="flex justify-end mt-4">
                    <div class="w-[100%] sm:w-[25%]">
                        <h3 class="text-xl font-semibold mb-2">
                            Profile Completion
                            <i class="pi pi-info-circle" tooltipPosition="top" pTooltip="Upload documents to complete"></i>
                        </h3>
                        <p-progressbar [value]="profileCompletion" />
                    </div>
                </div>

                <div class="flex flex-col sm:flex-row gap-4 mt-4">
                    <div class="flex-1 p-4 rounded-lg border-2" style="border-color: var(--surface-border);">
                        
                        <h3 class="flex items-center text-xl font-semibold">
                            <i class="pi pi-shield mr-4 rounded p-2 bg-blue-400" style="font-size: 1.5rem;"></i>
                            Identity Details
                        </h3>

                        <div class="flex flex-col gap-4 mt-4">
                            <div class="flex flex-row justify-between">
                                <div class="flex items-center gap-4">                                   
                                    <img src="assets/aadhaar_logo.png" width="40" height="" alt="Aadhaar Logo" />
                                    <label class="w-[100px]" for="aadhar">Aadhaar No</label>
                                    <input class="w-[120px]" pInputText id="aadhar" type="text" placeholder="0000 0000 0000" [formControl]="aadharNo" />
                                </div>                            
                                <p-button [disabled]="aadharNo.invalid" (click)="updateAadharPan('aadhar')">Update</p-button>   
                            </div>

                            <div class="flex flex-row justify-between">
                                <div class="flex items-center gap-4">
                                    <img src="assets/pan-card-logo.png" width="40" height="" alt="PAN Logo" />
                                    <label class="w-[100px]" for="pan">PAN Number</label>
                                    <input class="w-[120px]" pInputText id="pan" type="text" placeholder="ABCDE1234Z" [formControl]="pan" />
                                </div>
                                <p-button [disabled]="pan.invalid" (click)="updateAadharPan('pan')">Update</p-button>
                            </div>
                        
                        </div>

                    </div>
                    <div class="flex-1 p-4 rounded-lg border-2" style="border-color: var(--surface-border);">

                        <h3 class="flex items-center text-xl font-semibold">
                            <i class="pi pi-info-circle mr-4 rounded p-2 bg-blue-400" style="font-size: 1.5rem;"></i>
                            Update Guidelines
                        </h3>

                        <ul class="mt-4 list-inside list-disc">
                            <li class="mb-2">Only PNG, JPG, JPEG formats are allowed</li>
                            <li class="mb-2">Ensure Max file size : 3 MB</li>
                            <li class="mb-2">Ensure Documents are clear and readable</li>
                        </ul>
                    </div>
                </div>
                <!-- Document Upload 1 -->
                <div class="mt-4 flex flex-col sm:flex-row gap-4">
                    <div class="flex-1 p-4 rounded-lg border-2" style="border-color: var(--surface-border);">
                        <div class="flex justify-between items-center ">
                            <h3 class="flex items-center text-xl font-semibold">
                                <i class="pi pi-user mr-4 rounded p-2 bg-blue-400" style="font-size: 1.5rem;"></i>
                                User Photo
                            </h3>
                            <span class="p-2 border rounded" [ngClass]="userDetail?.photo ? 'text-green-600' : 'text-orange-600'">{{userDetail?.photo ? 'Uploaded' : 'Missing'}}</span>
                            <!-- <p-badge [value]="userDetail?.photo ? 'Uploaded' : 'Missing'" badgeSize="large" [severity]="userDetail?.photo ? 'success': 'warn'" /> -->
                        </div>
                        <div class="flex flex-col mt-4">
                            @if(userDetail?.photo) {
                                <div class="flex items-center justify-center">
                                    <p-image [preview]="true" imageClass="gallery-image" [src]="`${env.API_URL}${env.userDownloadDocument}?fileName=${userDetail?.photo}`"></p-image>
                                </div>
                            }

                            <p-fileupload #up mode="basic" class="mt-4" [chooseLabel]="userDetail?.photo ? 'Replace' : 'Choose'" chooseIcon="pi pi-upload" maxFileSize="000000"
                                customUpload="true" (uploadHandler)="onUpload($event, 'userPhoto', up)" />

                            <div class="flex justify-center gap-4 mt-4">
                                <p-button label="Upload" (onClick)="up.upload()" severity="secondary" [disabled]="up.files.length === 0"
                                    tooltipPosition="left" pTooltip="Upload User Photo" />
                                <p-button label="Cancel" (onClick)="up.clear()" severity="danger" [disabled]="up.files.length === 0"
                                    tooltipPosition="left" pTooltip="Cancel Upload" />
                            </div>
                            
                        
                        </div>
                    </div>
                    <div class="flex-1 p-4 rounded-lg border-2" style="border-color: var(--surface-border);">
                        <div class="flex justify-between items-center ">
                            <h3 class="flex items-center text-xl font-semibold">
                                <i class="pi pi-image mr-4 rounded p-2 bg-blue-400" style="font-size: 1.5rem;"></i>
                                Aadhaar Front
                            </h3>
                            <span class="p-2 border rounded" [ngClass]="userDetail?.aadharFrontPhoto ? 'text-green-600' : 'text-orange-600'">{{userDetail?.aadharFrontPhoto ? 'Uploaded' : 'Missing'}}</span>
                            <!-- <p-badge [value]="userDetail?.aadharFrontPhoto ? 'Uploaded' : 'Missing'" badgeSize="large" [severity]="userDetail?.aadharFrontPhoto ? 'success': 'warn'" /> -->
                        </div>
                        
                        <div class="flex flex-col mt-4">                            
                            @if(userDetail?.aadharFrontPhoto) {
                                <div class="flex items-center justify-center">
                                    <p-image [preview]="true" imageClass="gallery-image" [src]="`${env.API_URL}${env.userDownloadDocument}?fileName=${userDetail?.aadharFrontPhoto}`"></p-image>
                                </div>
                            }

                            <p-fileupload #af mode="basic" class="mt-4" [chooseLabel]="userDetail?.aadharFrontPhoto ? 'Replace' : 'Choose'" chooseIcon="pi pi-upload"
                                maxFileSize="3000000" customUpload="true"
                                (uploadHandler)="onUpload($event, 'aadharFront', af)" />

                            <div class="flex justify-center gap-4 mt-4">
                                <p-button label="Upload" (onClick)="af.upload()" severity="secondary" [disabled]="af.files.length === 0"
                                    tooltipPosition="left" pTooltip="Upload Aadhar Front-side" />
                                <p-button label="Cancel" (onClick)="af.clear()" severity="danger" [disabled]="af.files.length === 0"
                                    tooltipPosition="left" pTooltip="Cancel Upload" />
                            </div>
                        </div>
                    </div>
                    <div class="flex-1 p-4 rounded-lg border-2" style="border-color: var(--surface-border);">
                        <div class="flex justify-between items-center ">
                            <h3 class="flex items-center text-xl font-semibold">
                                <i class="pi pi-image mr-4 rounded p-2 bg-blue-400" style="font-size: 1.5rem;"></i>
                                Aadhaar Back
                            </h3>
                            <span class="p-2 border rounded" [ngClass]="userDetail?.aadharBackPhoto ? 'text-green-600' : 'text-orange-600'">{{userDetail?.aadharBackPhoto ? 'Uploaded' : 'Missing'}}</span>
                            <!-- <p-badge [value]="userDetail?.aadharBackPhoto ? 'Uploaded' : 'Missing'" badgeSize="large" [severity]="userDetail?.aadharBackPhoto ? 'success': 'warn'" /> -->
                        </div>
                        
                        <div class="flex flex-col mt-4">                        
                            @if(userDetail?.aadharBackPhoto) {
                                <div class="flex items-center justify-center">
                                    <p-image [preview]="true" imageClass="gallery-image" [src]="`${env.API_URL}${env.userDownloadDocument}?fileName=${userDetail?.aadharBackPhoto}`"></p-image>
                                </div>
                            }
                            <p-fileupload #ab class="mt-4" mode="basic" [chooseLabel]="userDetail?.aadharBackPhoto ? 'Replace' : 'Choose'" chooseIcon="pi pi-upload" maxFileSize="3000000"
                                customUpload="true" (uploadHandler)="onUpload($event, 'aadharBack', ab)" />
                        
                            <div class="flex justify-center gap-4 mt-4">
                                <p-button label="Upload" (onClick)="ab.upload()" severity="secondary" [disabled]="ab.files.length === 0"
                                    tooltipPosition="left" pTooltip="Upload Aadhar Back-side" />
                                <p-button label="Cancel" (onClick)="ab.clear()" severity="danger" [disabled]="ab.files.length === 0"
                                    tooltipPosition="left" pTooltip="Cancel Upload" />
                            </div>
                        </div>


                            
                    </div>
                    
                </div>
                <!-- Document Upload 2 -->
                <div class="mt-4 flex flex-col sm:flex-row gap-4">
                    <div class="flex-1 p-4 rounded-lg border-2" style="border-color: var(--surface-border);">
                        <div class="flex justify-between items-center ">
                            <h3 class="flex items-center text-xl font-semibold">
                                <i class="pi pi-image mr-4 rounded p-2 bg-blue-400" style="font-size: 1.5rem;"></i>
                                PAN Photo
                            </h3>
                            <span class="p-2 border rounded" [ngClass]="userDetail?.panPhoto ? 'text-green-600' : 'text-orange-600'">{{userDetail?.panPhoto ? 'Uploaded' : 'Missing'}}</span>
                            <!-- <p-badge [value]="userDetail?.panPhoto ? 'Uploaded' : 'Missing'" badgeSize="large" [severity]="userDetail?.panPhoto ? 'success': 'warn'" /> -->
                        </div>

                        
                        <div class="flex flex-col mt-4">
                            @if(userDetail?.panPhoto) {
                                <div class="flex items-center justify-center">
                                    <p-image [preview]="true" imageClass="gallery-image" [src]="`${env.API_URL}${env.userDownloadDocument}?fileName=${userDetail?.panPhoto}`"></p-image>
                                </div>
                            }
                            <p-fileupload #pn mode="basic" [chooseLabel]="userDetail?.panPhoto ? 'Replace' : 'Choose'" chooseIcon="pi pi-upload" maxFileSize="3000000"
                                customUpload="true" (uploadHandler)="onUpload($event, 'pan', pn)" />
                            <div class="flex justify-center gap-4 mt-4">
                                <p-button label="Upload" (onClick)="pn.upload()" severity="secondary" [disabled]="pn.files.length === 0"
                                    tooltipPosition="left" pTooltip="Upload PAN" />
                                <p-button label="Cancel" (onClick)="pn.clear()" severity="danger" [disabled]="pn.files.length === 0"
                                    tooltipPosition="left" pTooltip="Cancel Upload" />
                            </div>
                        </div>                            
                    </div>

                    <div class="flex-1 p-4 rounded-lg border-2" style="border-color: var(--surface-border);">
                        <div class="flex justify-between items-center ">
                            <h3 class="flex items-center text-xl font-semibold">
                                <i class="pi pi-image mr-4 rounded p-2 bg-blue-400" style="font-size: 1.5rem;"></i>
                                Highest Education Certificate
                            </h3>
                            <span class="p-2 border rounded" [ngClass]="userDetail?.highestQualificationDoc ? 'text-green-600' : 'text-orange-600'">{{userDetail?.highestQualificationDoc ? 'Uploaded' : 'Missing'}}</span>
                             <!-- <p-badge [value]="userDetail?.highestQualificationDoc ? 'Uploaded' : 'Missing'" badgeSize="large" [severity]="userDetail?.highestQualificationDoc ? 'success': 'warn'" /> -->
                        </div>
                        
                        <div class="flex flex-col mt-4">
                            @if(userDetail?.highestQualificationDoc) {
                                <div class="flex items-center justify-center">
                                    <p-image [preview]="true" imageClass="gallery-image" [src]="`${env.API_URL}${env.userDownloadDocument}?fileName=${userDetail?.highestQualificationDoc}`"></p-image>
                                </div>
                            }
                            <p-fileupload class="mt-4" #edu mode="basic" [chooseLabel]="userDetail?.highestQualificationDoc ? 'Replace' : 'Choose'" chooseIcon="pi pi-upload" maxFileSize="3000000"
                                customUpload="true" (uploadHandler)="onUpload($event, 'highestQualificationDoc',edu)" />
                            <div class="flex justify-center gap-4 mt-4">
                                <p-button label="Upload" (onClick)="edu.upload()" severity="secondary" [disabled]="edu.files.length === 0"
                                    tooltipPosition="left" pTooltip="Upload Education Certificate" />
                                <p-button label="Cancel" (onClick)="edu.clear()" severity="danger" [disabled]="edu.files.length === 0"
                                    tooltipPosition="left" pTooltip="Cancel Upload" />
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabpanel>
            <p-tabpanel value="reporting">
                <div class="flex flex-col mt-4 gap-6">
                    <div class="font-semibold text-xl">User Reporting Details</div>
                    <div class="flex justify-center">
                        <div class="flex flex-col w-full md:w-1/2 mt-6 gap-2">
                            <label for="gender">Reports to</label>
                            <p-select id="gender" [options]="parentOptions" [(ngModel)]="selectedParent"
                                optionLabel="optionLabel" placeholder="Select Whom to Report" class="w-full"></p-select>
                        </div>
                    </div>

                    <div class="flex gap-2 justify-end">
                        <p-button raised="true" type="button" [disabled]="!selectedParent"
                            (click)="updateUserParentMapping()">Update User Reporting</p-button>
                    </div>
                </div>
            </p-tabpanel>
            <p-tabpanel value="permission">
                <div class="mt-4">
                    <!-- <div class="font-semibold text-xl">Persmission</div> -->
                    <div class="permission-table">
                        <p-table [value]="showingUserPermission" dataKey="featureId">
                            <ng-template #caption>
                                <div class="flex justify-between items-center flex-column sm:flex-row">
                                    <div class="">
                                        <p-iconfield>
                                            <p-inputicon styleClass="pi pi-search" />
                                            <input type="text" pInputText placeholder="Search Permission"
                                                [formControl]="search" />
                                        </p-iconfield>
                                    </div>

                                    @if(USER_IDS_WITH_LOCKED_PERMISSIONS.includes(+(this.userDetail?.userId || 0))) {
                                        <div>
                                            <p class="text-sm text-blue-500 flex items-center gap-2">
                                                <i class="pi pi-lock"></i>
                                                Permissions are locked for this user!
                                            </p>
                                        </div>
                                    }

                                </div>
                            </ng-template>
                            <ng-template #header>
                                <tr>
                                    <th style="max-width: 2rem">
                                        <div class="flex justify-between items-center">
                                            Sl No
                                        </div>
                                    </th>
                                    <th style="min-width: 12rem">
                                        <div class="flex justify-between items-center">
                                            Permission Name
                                        </div>
                                    </th>
                                    <th style="min-width: 12rem">
                                        <div class="flex justify-between items-center">
                                            Status
                                        </div>
                                    </th>
                                </tr>
                            </ng-template>

                            <ng-template #body let-permission let-rowIndex="rowIndex">
                                <tr>
                                    <td>
                                        {{rowIndex + 1}}
                                    </td>

                                    <td>
                                        {{ permission.featureName }}
                                    </td>
                                    <td>
                                        <p-togglebutton [disabled]="USER_IDS_WITH_LOCKED_PERMISSIONS.includes(+(this.userDetail?.userId || 0))" [(ngModel)]="permission.isAllowed"
                                            (onChange)="onPermissionChange($event, permission)" onLabel="On"
                                            offLabel="Off" styleClass="w-24" />
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                </div>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>