<app-page-header [title]="'Property Details'" [backButton]="true" />

<p-fluid>
    <form [formGroup]="propertyForm" class="mt-4">
        <div class="flex flex-col w-full">
            <div class="gesil-card">
                <div class="flex flex-col md:flex-row gap-6">
                    @if(property.householdNo){
                    <div class="flex flex-wrap gap-2 w-full">
                        <p><strong [style]="{color:'var(--primary-color)'}">Household No./PIN :
                            </strong>{{property.householdNo || ''}}</p>
                    </div>
                    }

                    @if(property.surveyNo) {
                    <div class="flex flex-wrap gap-2 w-full">
                        <p><strong [style]="{color:'var(--primary-color)'}">Survey No. : </strong>{{property.surveyNo ||
                            ''}}</p>
                    </div>
                    }
                </div>
            </div>

            <div class="gesil-card">
                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex flex-col md:flex-row gap-2 md:gap-6">
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="salutation">Salutation</label>
                            <p-select id="salutation" [options]="salutations" optionLabel="label" placeholder="Select"
                                class="w-full" formControlName="salutation"></p-select>
                            <div class="text-red-500 text-xs" [class.invisible]="!isInvalid('salutation')">
                                Please choose a salutation for the owner.
                            </div>
                        </div>
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="ownerName">Name of Owner</label>
                            <input pInputText id="ownerName" placeholder="Enter Name of Owner" type="text"
                                formControlName="ownerName" />
                            <div class="text-red-500 text-xs" [class.invisible]="!isInvalid('ownerName')">
                                Please enter a valid owner name.
                            </div>
                        </div>
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="careOf">Select Care of</label>
                            <p-select id="careOf" [options]="careOfs" optionLabel="label" placeholder="Select"
                                class="w-full" formControlName="careOf"></p-select>
                            <div class="text-red-500 text-xs" [class.invisible]="!isInvalid('careOf')">
                                Please choose a care of.
                            </div>
                        </div>
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="guardianName">Father/Husband Name</label>
                            <input pInputText id="guardianName" placeholder="Father/Husband Name" type="text"
                                formControlName="guardianName" tooltipPosition="top"
                                pTooltip="Parent or care taker's name" />
                            <div class="text-red-500 text-xs" [class.invisible]="!isInvalid('guardianName')">
                                Please enter a valid guardian name.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col md:flex-row gap-2 md:gap-6">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="gender">Gender</label>
                        <p-select id="gender" [options]="genders" optionLabel="label" placeholder="Select Gender"
                            class="w-full" formControlName="gender"></p-select>
                        <div class="text-red-500 text-xs" [class.invisible]="!isInvalid('gender')">
                            Please choose gender of the owner.
                        </div>
                    </div>

                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="dob">Date of Birth</label>
                        <p-datepicker placeholder="Choose Date of Birth (MM/DD/YYYY)" id="dob" class="w-full"
                            formControlName="dob" />
                        <div class="text-red-500 text-xs" [class.invisible]="!isInvalid('dob')">
                            Please choose date of birth of the owner.
                        </div>
                    </div>

                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="mobile">Mobile No</label>
                        <input pInputText id="mobile" placeholder="Enter Mobile No." type="text"
                            formControlName="mobile" />
                        <div class="text-red-500 text-xs" [class.invisible]="!isInvalid('mobile')">
                            Please enter a valid mobile number.
                        </div>
                    </div>

                </div>

            </div>

            <div class="gesil-card">
                <!-- Row 1 -->
                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="zone">Zone</label>
                        <p-select id="zone" [options]="zones" optionLabel="zoneName" placeholder="Select Zone"
                            class="w-full" formControlName="zone"></p-select>
                        <div class="text-red-500 text-xs" [class.invisible]="!isInvalid('zone')">
                            Please choose zone.
                        </div>
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="ward">Ward</label>
                        <p-select id="ward" [options]="wards" optionLabel="wardNumber" placeholder="Select Ward"
                            class="w-full" formControlName="ward"></p-select>
                        <div class="text-red-500 text-xs" [class.invisible]="!isInvalid('ward')">
                            Please choose ward.
                        </div>
                    </div>

                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="ward">Mohalla</label>
                        <p-select id="ward" [options]="mohallas" optionLabel="mohallaName"
                            placeholder="Select Mohalla Name" class="w-full" formControlName="mohallaName"></p-select>
                        <div class="text-red-500 text-xs" [class.invisible]="!isInvalid('mohallaName')">
                            Please choose mohalla.
                        </div>
                    </div>
                </div>




                <!-- Row 2 -->
                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="propertyType">Property Type</label>
                        <p-select id="propertyType" [options]="propertyTypes" optionLabel="propertyTypeName"
                            placeholder="Select Property Type" class="w-full" formControlName="propertyType"></p-select>
                        <div class="text-red-500 text-xs" [class.invisible]="!isInvalid('propertyType')">
                            Please choose property type.
                        </div>
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="category">Category</label>
                        <p-select id="category" [options]="categories" optionLabel="categoryName"
                            placeholder="Select Category" class="w-full" formControlName="category"></p-select>
                        <div class="text-red-500 text-xs" [class.invisible]="!isInvalid('category')">
                            Please choose category.
                        </div>
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="subCategory">Sub-Category</label>
                        <p-select id="subCategory" [options]="subCategories" optionLabel="subCategoryName"
                            placeholder="Select Sub-Category" class="w-full" formControlName="subCategory"></p-select>
                        <div class="text-red-500 text-xs" [class.invisible]="!isInvalid('subCategory')">
                            Please Sub-Category.
                        </div>
                    </div>
                </div>

                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="widthOfRoad">Width of Road sorrunding (Ft.)</label>
                        <input pInputText id="widthOfRoad" placeholder="Enter Width of Road" type="text"
                            formControlName="widthOfRoad" />
                        <div class="invisible">error placeholder</div>
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="areaOfPlot">Area of Plot (Sq. Ft)</label>
                        <input pInputText id="areaOfPlot" placeholder="Enter Area of Plot" type="text"
                            formControlName="areaOfPlot" />
                        <div class="invisible">error placeholder</div>
                    </div>
                </div>

                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex flex-wrap gap-2 w-full md:w-1/3">
                        <label for="typeOfOwnership">Type of Ownership</label>
                        <p-select id="typeOfOwnership" [options]="typeOfOwnerships" optionLabel="label"
                            placeholder="Select Type of Ownership" class="w-full"
                            formControlName="typeOfOwnership"></p-select>
                        <div class="text-red-500 text-xs" [class.invisible]="!isInvalid('typeOfOwnership')">
                            Please choose type of ownership.
                        </div>
                    </div>

                    <!-- Individual Building -->
                    @if(propertyForm.get('typeOfOwnership')?.value?.value === '1' ) {
                    <div class="flex flex-wrap gap-2 w-full md:w-1/3">
                        <label for="noOfFloors">No. Of Floors</label>
                        <input pInputText id="noOfFloors" placeholder="No. Of Floors" type="text"
                            formControlName="noOfFloors" />
                        <div [class.invisible]="!isInvalid('noOfFloors')">No. Of Floors</div>
                    </div>

                    <div class="flex flex-wrap gap-2 w-full md:w-1/3">
                        <label>Mention Floor Data </label>
                        <button type="button" pButton (click)="showPopup()">Add Floor wise data</button>
                        <div class="invisible">mention</div>
                    </div>
                    }

                    <!-- Flat in Appartment -->
                    @if(propertyForm.get('typeOfOwnership')?.value?.value === '2' ) {
                    <div class="flex flex-wrap gap-2 w-full md:w-1/3">
                        <label for="buildingNo">Building No.</label>
                        <input pInputText id="buildingNo" placeholder="Building No." type="text"
                            formControlName="buildingNo" />
                        <div [class.invisible]="!isInvalid('buildingNo')">Building No.</div>
                    </div>
                    <div class="flex flex-wrap gap-2 w-full md:w-1/3">
                        <label for="flatNo">Flat No.</label>
                        <input pInputText id="flatNo" placeholder="Flat No." type="text" formControlName="flatNo" />
                        <div [class.invisible]="!isInvalid('flatNo')">Flat No.</div>
                    </div>
                    }

                    <!-- Other Types -->
                    @if(propertyForm.get('typeOfOwnership')?.value?.value > 2 ) {
                    <div class="flex flex-wrap gap-2 w-full md:w-1/3">
                        <label for="otherTypeOfOwnerShip">Specify Ownership Type</label>
                        <input pInputText id="otherTypeOfOwnerShip" placeholder="Specify Ownership Type" type="text"
                            formControlName="otherTypeOfOwnerShip" />
                        <div [class.invisible]="!isInvalid('otherTypeOfOwnerShip')">otherTypeOfOwnerShip</div>
                    </div>
                    }

                </div>
            </div>

            <!-- Property Address -->
            <div class="gesil-card">
                <h2 class="text-lg mb-4">Address of the Property</h2>
                <div class="flex flex-col md:flex-row gap-2 md:gap-6">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="propertyAddressDistrict">District</label>
                        <input pInputText id="propertyAddressDistrict" placeholder="Enter District" type="text"
                            formControlName="propertyAddressDistrict" />
                        <div class="text-red-500 text-xs" [class.invisible]="!isInvalid('propertyAddressDistrict')">
                            Please enter district.
                        </div>
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="propertyAddressCity">City</label>
                        <input pInputText id="propertyAddressCity" placeholder="Enter City" type="text"
                            formControlName="propertyAddressCity" />
                        <div class="text-red-500 text-xs" [class.invisible]="!isInvalid('propertyAddressCity')">
                            Please enter city.
                        </div>
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="propertyAddressPin">PIN</label>
                        <input pInputText id="propertyAddressPin" placeholder="Enter PIN" type="text"
                            formControlName="propertyAddressPin" />
                        <div class="text-red-500 text-xs" [class.invisible]="!isInvalid('propertyAddressPin')">
                            Please enter PIN.
                        </div>
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="propertyAddressHouseNo">House No</label>
                        <input pInputText id="propertyAddressHouseNo" placeholder="Enter House No." type="text"
                            formControlName="propertyAddressHouseNo" />
                        <div class="text-red-500 text-xs" [class.invisible]="!isInvalid('propertyAddressHouseNo')">
                            Please enter a House No.
                        </div>
                    </div>
                </div>

                <div class="flex flex-col md:flex-row gap-2 md:gap-6">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="propertyAddressLandmark">Landmark</label>
                        <input pInputText id="propertyAddressLandmark" placeholder="Enter Landmark" type="text"
                            formControlName="propertyAddressLandmark" />
                        <div class="text-red-500 text-xs" [class.invisible]="!isInvalid('propertyAddressLandmark')">
                            Please enter landmark.
                        </div>
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="propertyAddress">Address</label>
                        <input pInputText id="propertyAddress" placeholder="Address" type="text"
                            formControlName="propertyAddress" />
                        <div class="text-red-500 text-xs" [class.invisible]="!isInvalid('propertyAddress')">
                            Please enter address.
                        </div>
                    </div>
                </div>
            </div>

            <!-- Owner Address -->
            <div class="gesil-card">
                <div class="flex justify-between items-center mb-4">
                    <h2 class="text-lg">Address of the Owner</h2>
                    <div class="flex items-center gap-2">
                        <p-togglebutton formControlName="isOwnerAddressSame" [onLabel]="'Owner address is same.'"
                            [offLabel]="'Owner address is different.'" />
                        <!-- <span>Is owner address same as property address?</span><p-toggleswitch formControlName="isOwnerAddressSame" /> -->
                    </div>
                </div>
                <div class="flex flex-col md:flex-row gap-2 md:gap-6">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="ownerAddressDistrict">District</label>
                        <input pInputText id="ownerAddressDistrict" placeholder="Enter District" type="text"
                            formControlName="ownerAddressDistrict" [readOnly]="isCorrespondenceSame" />
                        <div class="text-red-500 text-xs" [class.invisible]="!isInvalid('ownerAddressDistrict')">
                            Please enter district.
                        </div>
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="ownerAddressCity">City</label>
                        <input pInputText id="ownerAddressCity" placeholder="Enter City" type="text"
                            formControlName="ownerAddressCity" [readOnly]="isCorrespondenceSame" />
                        <div class="text-red-500 text-xs" [class.invisible]="!isInvalid('ownerAddressCity')">
                            Please enter city.
                        </div>
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="ownerAddressPin">PIN</label>
                        <input pInputText id="ownerAddressPin" placeholder="Enter PIN" type="text"
                            formControlName="ownerAddressPin" [readOnly]="isCorrespondenceSame" />
                        <div class="text-red-500 text-xs" [class.invisible]="!isInvalid('ownerAddressPin')">
                            Please enter PIN.
                        </div>
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="ownerAddressHouseNo">House No</label>
                        <input pInputText id="ownerAddressHouseNo" placeholder="Enter House No." type="text"
                            formControlName="ownerAddressHouseNo" [readOnly]="isCorrespondenceSame" />
                        <div class="text-red-500 text-xs" [class.invisible]="!isInvalid('ownerAddressHouseNo')">
                            Please enter a House No.
                        </div>
                    </div>
                </div>

                <div class="flex flex-col md:flex-row gap-2 md:gap-6">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="ownerAddressLandmark">Landmark</label>
                        <input pInputText id="ownerAddressLandmark" placeholder="Enter Landmark" type="text"
                            formControlName="ownerAddressLandmark" [readOnly]="isCorrespondenceSame" />
                        <div class="text-red-500 text-xs" [class.invisible]="!isInvalid('ownerAddressLandmark')">
                            Please enter landmark.
                        </div>
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="ownerAddress">Address</label>
                        <input pInputText id="ownerAddress" placeholder="Address" type="text"
                            formControlName="ownerAddress" [readOnly]="isCorrespondenceSame" />
                        <div class="text-red-500 text-xs" [class.invisible]="!isInvalid('ownerAddress')">
                            Please enter address.
                        </div>
                    </div>
                </div>
            </div>

            <!-- Row 3 -->
            <!-- <div class="gesil-card">
                <h2 class="text-lg font-semibold">Electricity Connection Details</h2>
                <div class="flex flex-col md:flex-row gap-6 my-4">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="elctricityCustomerId">Customer Id/No</label>
                        <input pInputText id="elctricityCustomerId" placeholder="Enter Customer Id/No" type="text"
                            formControlName="elctricityCustomerId" />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="electricityAccountNo">Account No</label>
                        <input pInputText id="electricityAccountNo" placeholder="Enter Account No" type="text"
                            formControlName="electricityAccountNo" />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="electricityBookNo">Book No</label>
                        <input pInputText id="electricityBookNo" placeholder="Enter Book No" type="text"
                            formControlName="electricityBookNo" />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="electricityCategory">Electricity Category</label>
                        <p-select id="electricityCategory" [options]="electricityCagtegory"
                            optionLabel="electricityConnectionName" placeholder="Choose Electricity Category"
                            class="w-full" formControlName="electricityCategory"></p-select>
                    </div>
                </div>
                <div class="w-full my-4">
                    <div class="flex flex-col md:flex-row gap-2 w-full justify-center md:justify-between">
                        <div class="flex justify-start">
                            <p-fileupload #ebUploader mode="basic" chooseLabel="Choose Electricty Bill"
                                maxFileSize="20000000" customUpload="true" (onSelect)="onFileSelect($event, 'EB')"
                                (onClear)="onClear('EB')" (uploadHandler)="onUpload($event,'EB')" />

                        </div>
                        @if(ebFile){
                        <div class="flex justify-center md:justify-start gap-2">
                            <p-button label="Upload" icon="pi pi-upload" (onClick)="ebUploader.upload()"
                                severity="info" />
                            <p-button label="Remove" icon="pi pi-times" severity="danger" (onClick)="clearFile('EB')" />
                        </div>
                        }
                    </div>
                    <p class="text-blue-500 italic text-sm mt-2">File must be in jpeg/pdf format and below 2MB</p>
                </div>
            </div> -->

            <!-- Row 4 -->
            <!-- <div class="gesil-card">
                <h2 class="text-lg font-semibold">Building Plan/Water Connection Details</h2>
                <div class="flex flex-col md:flex-row gap-6 my-4">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="buildingPlanApprovalNo">Building Approval No</label>
                        <input pInputText id="buildingPlanApprovalNo" placeholder="Enter Building Approval No"
                            type="text" formControlName="buildingPlanApprovalNo" />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="buildingPlanApprovalDate">Building Plan Approval Date</label>
                        <p-datepicker placeholder="Choose Building Plan Approval Date" id="buildingPlanApprovalDate"
                            class="w-full" formControlName="buildingPlanApprovalDate" />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="waterConsumerNo">Water Connection Consumer No</label>
                        <input pInputText id="waterConsumerNo" placeholder="Enter Water Connection Consumer No"
                            type="text" formControlName="waterConsumerNo" />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="waterConnectionDate">Date of Water Connection</label>
                        <p-datepicker placeholder="Choose Water Connection Date" id="waterConnectionDate" class="w-full"
                            formControlName="waterConnectionDate" />
                    </div>
                </div>
            </div> -->

            <!-- Row 5 -->
            <!-- <div class="gesil-card">
                <h2 class="text-lg font-semibold">Plot Details as per Patta/Tahasil Record</h2>
                <div class="flex flex-col md:flex-row gap-6 my-4">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="district">District</label>
                        <input pInputText id="district" placeholder="Enter District" type="text"
                            formControlName="district" />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="tahasil">Tahasil</label>
                        <input pInputText id="tahasil" placeholder="Enter Tahasil" type="text"
                            formControlName="tahasil" />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="villageName">Village/Mauja Name</label>
                        <input pInputText id="villageName" placeholder="Enter Village/Mauja Name" type="text"
                            formControlName="villageName" />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="khataNo">Khata No</label>
                        <input pInputText id="khataNo" placeholder="Enter Khata No" type="text"
                            formControlName="khataNo" />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="plotNo">Plot No</label>
                        <input pInputText id="plotNo" placeholder="Enter Plot No" type="text"
                            formControlName="plotNo" />
                    </div>
                </div>
            </div> -->

            <!-- Row 8 -->
            <!-- <div class="gesil-card">
                <h2 class="text-lg font-semibold">In case of vacant land</h2>
                <div class="flex flex-col md:flex-row gap-6 my-4">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="plotArea">Enter Plot Area (in Decimil)</label>
                        <input pInputText id="plotArea" placeholder="Enter Plot Area" type="text"
                            formControlName="plotArea" />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="useAsPerMasterPlan">Use As Per Master Plan</label>
                        <input pInputText id="useAsPerMasterPlan" placeholder="Use As Per Master Plan" type="text"
                            formControlName="useAsPerMasterPlan" />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="dateOfAcquisition">Date of Acquisition</label>
                        <p-datepicker placeholder="Date of Acquisition" id="dateOfAcquisition" class="w-full"
                            formControlName="dateOfAcquisition" />
                    </div>
                </div>
            </div> -->

            <!-- Row 9 -->
            <!-- <div class="gesil-card">
                <h2 class="text-lg font-semibold">Mobile Tower</h2>
                <div class="flex flex-col md:flex-row gap-6 my-4">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="mobileTowerArea">Total Area Covered by Mobile Tower & Its Supporting Equipments
                        </label>
                        <input pInputText id="mobileTowerArea" placeholder="Enter Area" type="text"
                            formControlName="mobileTowerArea" />
                    </div>

                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="mobileTowerDateOfInstallation">Date of Installation of Mobile Tower</label>
                        <p-datepicker placeholder="Date of Installation of Mobile Tower"
                            id="mobileTowerDateOfInstallation" class="w-full"
                            formControlName="mobileTowerDateOfInstallation" />
                    </div>
                </div>
            </div> -->

            <!-- Row  -->
            <!-- <div class="gesil-card">
                <h2 class="text-lg font-semibold">Hoarding (on the Wall/ Roof/ Land)</h2>
                <div class="flex flex-col md:flex-row gap-6 my-4">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="hoardingArea">Total Area of Wall/Roof/Land (in sqft):</label>
                        <input pInputText id="hoardingArea" placeholder="Enter Area" type="text"
                            formControlName="hoardingArea" />
                    </div>

                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="hoardingDateOfInstallation">Date of Installation of Hoarding</label>
                        <p-datepicker placeholder="Date of Installation of Hoarding" id="hoardingDateOfInstallation"
                            class="w-full" formControlName="hoardingDateOfInstallation" />
                    </div>
                </div>
            </div> -->

            <!-- Row 10 -->
            <!-- <div class="gesil-card">
                <h2 class="text-lg font-semibold">Petrol Pump</h2>
                <div class="flex flex-col md:flex-row gap-6 my-4">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="petrolpumpUndergroundArea">Underground Area (in sqft):</label>
                        <input pInputText id="petrolpumpUndergroundArea" placeholder="Enter Area" type="text"
                            formControlName="petrolpumpUndergroundArea" />
                    </div>

                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="petrolpumpDateOfCompletion">Date of Completion of Petrol Pump</label>
                        <p-datepicker placeholder="Date of Completion" id="petrolpumpDateOfCompletion" class="w-full"
                            formControlName="petrolpumpDateOfCompletion" />
                    </div>
                </div>
            </div> -->

            <!-- Row 11 -->
            <!-- <div class="gesil-card">
                <h2 class="text-lg font-semibold">Water Harvesting Provision</h2>
                <div class="flex items-center gap-2 w-full md:w-1/2 my-4">
                    <p-checkbox formControlName="hasWaterHarvestingProvision" value="false"
                        inputId="hasWaterHarvestingProvision" />
                    <label for="hasWaterHarvestingProvision" class="ml-2">Water Harvesting Provision</label>
                </div>
            </div> -->

            <!-- Row 12 -->
            <!-- <div class="gesil-card">
                <h2 class="text-lg font-semibold">Upload Photo of the Property</h2>

                <div class="my-4 flex flex-col md:flex-row gap-2 w-full justify-center md:justify-between">
                    <div class="flex justify-start">
                        <p-fileupload #propertyPhotoUploader mode="basic" chooseLabel="Choose Property Photo"
                            maxFileSize="20000000" customUpload="true" (onSelect)="onFileSelect($event, 'PP')"
                            (onClear)="onClear('PP')" (uploadHandler)="onUpload($event,'PP')" />

                    </div>
                    @if(ppFile){
                    <div class="flex justify-center md:justify-start gap-2">
                        <p-button label="Upload" icon="pi pi-upload" (onClick)="propertyPhotoUploader.upload()"
                            severity="info" />
                        <p-button label="Remove" icon="pi pi-times" severity="danger" (onClick)="clearFile('PP')" />
                    </div>
                    }
                </div>
                <p class="text-blue-500 italic text-sm mt-2">File must be in jpeg/pdf format and below 2MB</p>

            </div> -->

            <div class="gesil-card">
                <div class="flex">
                    <button pButton [disabled]="propertyForm.invalid" (click)="onSubmit()">Submit</button>

                </div>
            </div>

        </div>
    </form>
</p-fluid>


<p-dialog header="Add Floor Data" [modal]="true" [(visible)]="floorDataPopupVisible" [style]="{ width: '75%' }">
    <div class="flex justify-end">
        <button [disabled]="+propertyForm.get('noOfFloors')?.value === floorWiseDataFormArray.length" pButton (click)="addFlooWiseDataRow()">Add Floor</button>
    </div>

    <form [formGroup]="floorDataForm" class="mt-4">
         <div formArrayName="floorWiseData">
            @for (data of floorWiseDataFormArray.controls; track data; let i = $index) {
                <div [formGroupName]="i" class="flex flex-col md:flex-row md:gap-6">
                     <div class="flex flex-col gap-2 w-full md:w-1/3">
                        <label [for]="'floorNo' + i">Floor No</label>
                        <input pInputText [id]="'floorNo' + i" placeholder="Floor No." type="text"
                            formControlName="floorNo" />
                        <div [class.invisible]="true">error</div>
                    </div>
                     <div class="flex flex-col gap-2 w-full md:w-1/3">
                        <label [for]="'builtUpArea' + i">Built-up Area (Sq. Ft.)</label>
                        <input pInputText [id]="'builtUpArea' + i" placeholder="Built-up Area (Sq. Ft.)" type="text"
                            formControlName="builtUpArea" />
                        <div [class.invisible]="true">error</div>
                    </div>
                     <div class="flex flex-col gap-2 w-full md:w-1/3">
                        <label [for]="'constructionType' + i">Construction Type</label>
                        <input pInputText [id]="'constructionType' + i" placeholder="Construction Type" type="text"
                            formControlName="constructionType" />
                        <div [class.invisible]="true">error</div>
                    </div>
                    <div class="flex flex-col justify-center items-end">
                        <p-button class="hidden sm:block" icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger" (click)="removeFlooWiseDataRow(i)" [disabled]="floorWiseDataFormArray.length === 1" />
                        <p-button class="block sm:hidden" severity="danger" [outlined]="true" (click)="removeFlooWiseDataRow(i)" [disabled]="floorWiseDataFormArray.length === 1">Remove</p-button>
                    </div>
                </div>
            }
         </div>
    </form>

    <div class="flex justify-end gap-2 sm:mt-0 mt-4">
        <p-button label="Cancel" severity="secondary" (click)="floorDataPopupVisible = false" />
        <p-button label="Save Floor Data" (click)="saveFloorData()" />
    </div>
</p-dialog>