<app-page-header title="Payment Collection" [backButton]="true" />
<div class="gesil-card mt-4">
    <div>
        <p><strong>Household No : </strong>{{this.property.householdNo}}</p>
    </div>

    <div class="mt-8">
        <p [style]="{color: 'var(--primary-color)', fontSize: '1.15rem'}" class="text-center my-4"><strong>Total Amount
                Pending : </strong>
            {{demand.amountPending}}</p>
        <form [formGroup]="paymentForm" class="flex justify-center">
            <div class="flex flex-col gap-2 w-100 md:w-[50%]">
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="remark">Remark</label>
                    <p-select id="remark" [options]="remarkOptions" optionLabel="label" placeholder="Select"
                        class="w-full" formControlName="remarks"></p-select>
                </div>
                @if(!hideAmountTxn) {
                <div class="flex flex-col gap-2 w-full">
                    <label for="amount">Amount</label>
                    <input pInputText id="amount" [readOnly]="disableAmount" placeholder="Enter Amount" type="text"
                        formControlName="amountPaid" />
                    <!-- <div class="text-red-500 text-xs" [class.invisible]="!isInvalid('amount')">
                            Please enter a valid owner name.
                        </div> -->
                </div>
                <div class="flex flex-col gap-2 w-full">
                    <label for="txnId">Transaction ID</label>
                    <input pInputText id="txnId" placeholder="Transaction ID" type="text"
                        formControlName="paymentTxnNumber" tooltipPosition="top" />
                </div>
                }

                @if(showCustomReason) {
                <div class="flex flex-col gap-2 w-full">
                    <label for="customReason">Custom Reason</label>
                    <input pInputText id="customReason" placeholder="Custom Reason" type="text"
                        formControlName="customReason" />
                </div>
                }

                @if(showNextVisitDate) {
                <div class="flex flex-col gap-2 w-full">
                    <label for="nextVisitDate">Next Visit Date</label>
                    <p-datepicker placeholder="Choose Next Visit Date (MM/DD/YYYY)" id="nextVisitDate"
                        [minDate]="minDate" styleClass="w-full" inputStyleClass="w-full"
                        formControlName="nextVisitDate" />
                </div>
                }

                <div class="w-full flex flex-col md:flex-row items-center gap-2">
                    <p-button severity="info" icon="pi pi-map-marker" [disabled]="gettingLocation" [label]="gettingLocation ? 'Getting Location ...' : 'Get Current Location'"
                        (click)="getCurrentLocation()" />
                    <p class="text-sm">{{latLong}}</p>
                </div>
                <div class="w-full hidden sm:flex flex-col md:flex-row items-center gap-2">
                    <p-fileupload chooseStyleClass="p-button-info" mode="basic" chooseIcon="pi pi-upload"
                        maxFileSize="50000000" (onSelect)="onFileSelectWeb($event)" [auto]="true"
                        chooseLabel="Upload your photo" />
                    <p class="text-sm">{{fileName}}</p>
                </div>

                <!-- @if(currentLoggedUserId === '20') {
                <div class="w-full flex flex-col md:flex-row items-center gap-2 sm:hidden">
                    <label for="mobile-camera-file" class="mobile-file-upload">
                        Upload your photo
                    </label>
                    <input id="mobile-camera-file" type="file" accept="image/*" (change)="onFileSelectMob($event)"
                        capture="environment" />
                    <p class="text-sm">{{fileName}}</p>
                </div>
                } -->



                <div class="w-full mt-8">
                    <p-button styleClass="w-full" label="Submit" [disabled]="!latLong || !fileName"
                        (click)="onSubmit()" />
                </div>
            </div>
        </form>
    </div>
</div>