<app-page-header title="Dashboard"></app-page-header>
<div class="grid grid-cols-12 gap-8 mt-4">
    <div class="col-span-12 lg:col-span-6 xl:col-span-3">
        <div class="gesil-card">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, expedita?
        </div>
    </div>

    <div class="col-span-12 lg:col-span-6 xl:col-span-3">
        <div class="gesil-card">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A neque distinctio nobis. Dolorum eos architecto
            sint necessitatibus, omnis laboriosam culpa suscipit tenetur hic harum blanditiis.
        </div>
    </div>

    <div class="col-span-12 lg:col-span-6 xl:col-span-3">
        <div class="gesil-card">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A neque distinctio nobis. Dolorum eos architecto
            sint necessitatibus, omnis laboriosam culpa suscipit tenetur hic harum blanditiis.
        </div>
    </div>

    <div class="col-span-12 lg:col-span-6 xl:col-span-3">
        <div class="gesil-card">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A neque distinctio nobis. Dolorum eos architecto
            sint necessitatibus, omnis laboriosam culpa suscipit tenetur hic harum blanditiis.
        </div>
    </div>


    <div class="col-span-12  xl:col-span-6">
        <div class="gesil-card">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam veniam quasi vitae, voluptates soluta
            accusamus fugit, voluptate iure voluptatum modi commodi laudantium tempore, saepe quae? Vero recusandae
            itaque commodi! At, ut quaerat. Vitae quisquam, at accusamus laboriosam aut, consequatur maiores dignissimos
            necessitatibus ex, nihil fugiat ab placeat magnam ducimus explicabo.
        </div>
    </div>
    <div class="col-span-12  xl:col-span-6">
        <div class="gesil-card">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam veniam quasi vitae, voluptates soluta
            accusamus fugit, voluptate iure voluptatum modi commodi laudantium tempore, saepe quae? Vero recusandae
            itaque commodi! At, ut quaerat. Vitae quisquam, at accusamus laboriosam aut, consequatur maiores dignissimos
            necessitatibus ex, nihil fugiat ab placeat magnam ducimus explicabo.
        </div>
    </div>
</div>