<app-page-header title="Awaiting Approval"  [backButton]="true" />

<div class="flex flex-row justify-end items-center gap-2">
    <div class="flex gap-2">
        <p-button [disabled]="bulkActionButtonDisable" (click)="onApproveSelected()">Approve</p-button>
        <!-- <p-button severity="danger" [disabled]="bulkActionButtonDisable">Reject</p-button> -->
    </div>

    <div>
        <p-checkbox inputId="selectAll" [(ngModel)]="selectAll" (onChange)="onSelectAll($event)" [binary]="true" />
        <label for="selectAll" class="ml-2">Select All</label>
    </div>
</div>

@for(property of properties; track property.propertyId ) {
    <div class="gesil-card mt-4 flex flex-col">
        <div class="flex flex-row justify-between">
            <p><strong>Name: </strong><p-button [link]="true" [routerLink]="['/property','detail', property.propertyId]" > {{property.salutation}} {{property.ownerName}} ({{property.gender}}) </p-button></p>
            <!-- <a [style]="{color:'var(--primary-color)'}"></p> -->
            <p-checkbox [(ngModel)]="property.selected" [binary]="true" (onChange)="onSingleSelect($event, property)" />
        </div>
        <div class="flex flex-col sm:flex-row gap-2">
            <div class="flex-1">
                <!-- <strong class="underline">Owner Details</strong> -->
                 <p class="text-sm"><strong>Survey No/PIN Type: </strong>({{property.surveyNo}}) / {{property.householdNo}}</p>
                <p class="text-sm">{{property.careOf}} {{property.guardianName}}</p>
                <p class="text-sm">Mobile: {{property.guardianName}}</p>
            </div>
            <div class="flex-1">
                <!-- <strong class="underline">Property Details</strong> -->
                
                <p class="text-sm"><strong>Property Type: </strong>({{property.propertyType}})</p>
                <p class="text-sm"><strong>Zone: </strong>{{property.zoneName}} <strong>Ward: </strong>{{property.ward}} <strong>Mohalla: </strong>{{property.mohallaNameDetail}}</p>         
                <!-- <p class="text-sm"><strong>Area (Sq. Ft.): </strong>{{property.areaOfPlot}}</p>            
                <p class="text-sm"><strong>Sorrounding Road (Ft.): </strong>{{property.widthOfRoad}}</p>             -->
    
            </div>
            <!-- <div class="flex-1">
                <strong class="underline">Property Address</strong>
                <p class="text-sm">{{property.propertyAddress}}</p>
                <p class="text-sm">{{property.propertyAddressHouseNo}}</p>
                <p class="text-sm">{{property.propertyAddressCity}}, {{property.propertyAddressDistrict}}, PIN - {{property.propertyAddressPin}}</p>
                <p class="text-sm">Land Mark: {{property.propertyAddressLandmark}}</p>            
            </div> -->
        </div>


        <!-- <p>{{property.careOf}} {{property.guardianName}}</p> -->
    </div>
}

@empty { 
    <p class="text-center">No records to display</p>
}
