:host ::ng-deep .p-fileupload.p-fileupload-basic span.filelabel {
    @media screen and (max-width: 640px) {
        color: red;
        white-space: nowrap;
        /* Prevents text from wrapping to a new line */
        overflow: hidden;
        /* Hides the text that overflows the container */
        text-overflow: ellipsis;
        /* Adds the "..." to the end of the text */
        width: 240px;
        text-align: center;

    }
}