<app-page-header title="User Details" [backButton]="true"></app-page-header>
<div class="gesil-card mt-4">

  @if(!userDetail) {
  <p-progressbar mode="indeterminate" [style]="{'height': '6px'}" />
  } @else {
  <div class="flex justify-end w-full">
    <a pButton icon="pi pi-pencil" [rounded]="true" class="mr-2" severity="help"
      [routerLink]="['/user','edit', `${userDetail.userId}`]" [queryParams]="{tab: 'basic-details'}" tooltipPosition="top" pTooltip="Edit details"></a>
  </div>
  <div class="flex flex-col sm:flex-row sm:items-start">
    <!-- Image -->
    <div class="w-full sm:w-[150px] flex justify-center sm:justify-start mb-4 sm:mb-0">
      @if(userDetail.photo) {
      <img [src]="`${env.API_URL}${env.userDownloadDocument}?fileName=${userDetail.photo}`" alt="User Pic" lazy="true"
        class="w-[150px] h-auto object-cover" />
      } @else {
      <img src="assets/avatar.png" alt="User Avatar" class="w-[150px] h-auto object-cover" />
      }

    </div>

    <!-- Paragraph -->
    <div class="flex-1 ml-8">
      <div class="pb-4 flex flex-col my-2 name-designation md:flex-row">
        <div class="flex-1">
          <p class="text-xl">{{userDetail.firstName}} {{userDetail.middleName}} {{userDetail.lastName}}</p>
          <p class="text-sm italic">{{userDetail.userTypeName}}</p>
        </div>
        <div class="flex-1">
          <p class="text-sm italic">Reports to :</p>
          @if(userDetail.parentName !== '') {
          <p class="text-sm">{{userDetail.parentName}}</p>
          } @else {
          <p class="text-xs text-red-500">The user is not mapped to anyone.</p>
          }
        </div>
      </div>

      <div class="flex flex-col md:flex-row justify-between mt-4">
        <div class="flex-1">
          <p class="text-sm">Email : {{userDetail.emailId}}</p>
          <p class="text-sm">Phone : {{userDetail.mobile}}</p>
          <p class="text-sm">Gender : {{userDetail.gender}}</p>
          <p class="text-sm">Date of Birth : {{userDetail.dob | date : 'mediumDate'}}</p>
          @if(userDetail.aadharNo) {
          <!-- <p-divider /> -->
          <p class="text-sm mt-4">Aadhar : {{userDetail.aadharNo }}</p>
          } @else {
            <p class="text-sm mt-4 text-red-500" >Aadhar No. not updated</p>
          }

          @if(userDetail.pan) {
          <p class="text-sm">PAN : {{userDetail.pan }}</p>
          } @else {
            <p class="text-sm text-red-500" >PAN not updated</p>
          }


        </div>
        <p-divider type="dotted" layout="vertical" />
        <div class="flex-1">
          <p class="text-base italic underline">Address :</p>
          <p class="text-sm">{{userDetail.address}}</p>
          <p class="text-sm">State :
            @if(stateName === '') {
            <i class="pi pi-spin pi-spinner"></i>
            } @else {
            {{stateName}}
            }
          </p>

          <p class="text-sm">District:
            @if(districtName === '') {
            <i class="pi pi-spin pi-spinner"></i>
            } @else {
            {{districtName}}
            }
          </p>

          <p class="text-sm">Pin: {{userDetail.pin}}</p>
        </div>
      </div>

    </div>
  </div>
  }
</div>




<div class="flex flex-col mt-4 gap-2 gesil-card">
  <h3 class="text-xl">Documents List</h3>
  @if(!userDetail) {
    <p-progressbar mode="indeterminate" [style]="{'height': '6px'}" />
  } @else if (!userDetail.aadharFrontPhoto && !userDetail.aadharBackPhoto && !userDetail.panPhoto && !userDetail.highestQualificationDoc) {
    <p class="text-xs text-red-500">No documents found for the user. Please upload documents.</p>
    <p class="text-xs text-blue-500">Path to upload: User List > Edit User > Document Upload Tab</p>
  }
  @else {
    @if(userDetail.aadharFrontPhoto) {
    <div class="flex justify-center">
      <div class="flex justify-between items-center w-full md:w-1/2">
        <p>Aadhar Front-side Pic</p>
        <a pButton icon="pi pi-eye" [rounded]="true"
          [href]="`${env.API_URL}${env.userDownloadDocument}?fileName=${userDetail.aadharFrontPhoto}`" target="_blank"
          pTooltip="View Document"></a>
      </div>
    </div>
    }
    @if(userDetail.aadharBackPhoto) {
    <div class="flex justify-center">
      <div class="flex justify-between items-center w-full md:w-1/2">
        <p>Aadhar Back-side Pic</p>
        <a pButton icon="pi pi-eye" [rounded]="true"
          [href]="`${env.API_URL}${env.userDownloadDocument}?fileName=${userDetail.aadharBackPhoto}`" target="_blank"
          pTooltip="View Document"></a>
      </div>
    </div>

    }
    @if(userDetail.panPhoto) {
    <div class="flex justify-center">
      <div class="flex justify-between items-center w-full md:w-1/2">
        <p>PAN</p>
        <a pButton icon="pi pi-eye" [rounded]="true"
          [href]="`${env.API_URL}${env.userDownloadDocument}?fileName=${userDetail.panPhoto}`" target="_blank"
          pTooltip="View Document"></a>
      </div>
    </div>

    }
    @if(userDetail.highestQualificationDoc) {
    <div class="flex justify-center">
      <div class="flex justify-between items-center w-full md:w-1/2">
        <p>Heighest Education Certificate</p>
        <a pButton icon="pi pi-eye" [rounded]="true"
          [href]="`${env.API_URL}${env.userDownloadDocument}?fileName=${userDetail.highestQualificationDoc}`"
          target="_blank" pTooltip="View Document"></a>
      </div>
    </div>
    }
  }
</div>