<app-page-header title="User Details" [backButton]="true"></app-page-header>
<div class="gesil-card mt-4">

  @if(!userDetail) {
  <p-progressbar mode="indeterminate" [style]="{'height': '6px'}" />
  } @else {
  @if(permissionService.hasPermission(PERMISSIONS.MODIFY_USER_DETAILS)) {
  <div class="flex justify-end w-full">
    <a pButton icon="pi pi-pencil" class="mr-2" severity="help"
      [routerLink]="['/user','edit', `${userDetail.userId}`]" [queryParams]="{tab: 'basic-details'}"
      tooltipPosition="top" pTooltip="Edit details">Edit</a>
  </div>
  }

  <div class="flex flex-col sm:flex-row sm:items-start mt-4">
    <!-- Image -->
    <div class="w-full sm:w-[150px] flex justify-center sm:justify-start mb-4 sm:mb-0">
      @if(userDetail.photo) {
      <img [src]="`${env.API_URL}${env.userDownloadDocument}?fileName=${userDetail.photo}`" alt="User Pic" lazy="true"
        class="w-[150px] h-auto object-cover" />
      } @else {
      <img src="assets/avatar.png" alt="User Avatar" class="w-[150px] h-auto object-cover" />
      }

    </div>

    <!-- Paragraph -->
    <div class="flex-1 ml-8">
      <div class="pb-4 flex flex-col name-designation md:flex-row">
        <div class="flex-1">
          <p class="text-xl font-bold">{{userDetail.firstName}} {{userDetail.middleName}} {{userDetail.lastName}}</p>
          <p class="">{{userDetail.userTypeName}}</p>
        </div>
        <p-divider layout="vertical" />
        <div class="flex-1">
          <label class="font-bold">Reports to</label>
          @if(userDetail.parentName !== '') {
          <p class="">{{userDetail.parentName}}</p>
          } @else {
          <p class="text-red-500">The user is not mapped to anyone.</p>
          }
        </div>
      </div>

      <div class="flex flex-col md:flex-row justify-between mt-4">
        <div class="flex-1 flex flex-col">
          <h3 class="text-lg font-bold flex items-center" style="color: var(--primary-color)">
            <i class="pi pi-address-book mr-2" style="font-size: 1.5rem;"></i>
            Contact Information
          </h3>
          <div class="flex flex-col">
            <div class="flex flex-1 gap-4 items-center mt-4">
              <i class="pi pi-envelope" style="font-size: 1.95rem;"></i>
              <div class="">
                <label class="font-bold mb-2">Email</label>
                <p>{{userDetail.emailId}}</p>
              </div>
            </div>
            <p-divider />
            <div class="flex flex-1 gap-2 items-center">
              <i class="pi pi-phone" style="font-size: 1.95rem;"></i>
              <div>
                <label class="font-bold mb-2">Phone</label>
                <p>{{userDetail.mobile}}</p>
              </div>
            </div>
          </div>
        </div>

        <p-divider type="dotted" layout="vertical" />
        <!-- Personal Info -->
        <div class="flex-1 flex flex-col">
          <h3 class="text-lg font-bold flex items-center" style="color: var(--primary-color)">
            <i class="pi pi-user mr-2" style="font-size: 1.5rem;"></i>
            Personal Information
          </h3>
          <div class="flex flex-1 justify-between">
            <div class="flex gap-4 items-center mt-4">
              <i class="pi pi-user" style="font-size: 1.95rem;"></i>
              <div class="">
                <label class="font-bold mb-2">Gender</label>
                <p>{{userDetail.gender}}</p>
              </div>
            </div>
            <div class="flex gap-4 items-center mt-4">
              <i class="pi pi-calendar" style="font-size: 1.95rem;"></i>
              <div>
                <label class="font-bold mb-2">Date of Birth</label>
                <p>{{userDetail.dob | date : 'mediumDate'}}</p>
              </div>
            </div>
          </div>
          <p-divider />
          <div class="flex-1">
            <div class="flex flex-1 justify-between">
              <div class="flex gap-4 items-center">
                <i class="pi pi-id-card" style="font-size: 1.95rem;"></i>
                <div class="">
                  <label class="font-bold mb-2">Aadhar No</label>
                  <p>{{userDetail.aadharNo}}</p>
                </div>
              </div>
              <div class="flex gap-4 items-center">
                <i class="pi pi-id-card" style="font-size: 1.95rem;"></i>
                <div>
                  <label class="font-bold mb-2">PAN No</label>
                  <p>{{userDetail.pan}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <p-divider type="dotted" layout="vertical" />
        <!-- Address -->
        <div class="flex-1 flex flex-col">
          <h3 class="text-lg font-bold flex items-center" style="color: var(--primary-color)">
            <i class="pi pi-map-marker mr-2" style="font-size: 1.5rem;"></i>
            Address
          </h3>
          <div class="flex flex-col">
            <div class="flex-1">
              <div class="flex gap-4 items-center mt-4">
                <i class="pi pi-map" style="font-size: 1.95rem;"></i>
                <div class="">
                  <label class="font-bold mb-2">Address</label>
                  <p>{{userDetail.address}}</p>
                </div>
              </div>
            </div>
            <p-divider />
            <div class="flex-1 flex justify-between">
              <div>
                <label class="font-bold mb-2 mt-2">State</label>
                <p>
                  @if(stateName === '') {
                  <i class="pi pi-spin pi-spinner"></i>
                  } @else {
                  {{stateName}}
                  }
                </p>
              </div>

              <div>
                <label class="font-bold mb-2 mt-2">District</label>
                <p>
                  @if(districtName === '') {
                  <i class="pi pi-spin pi-spinner"></i>
                  } @else {
                  {{districtName}}
                  }
                </p>
              </div>

              <div>
                <label class="font-bold mb-2 mt-2">PIN</label>
                <p>{{userDetail.pin}}</p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
  }
</div>




<div class="flex flex-col mt-4 gap-2 gesil-card">

  <h3 class="text-lg font-bold flex items-center" style="color: var(--primary-color)">
    <i class="pi pi-file mr-2" style="font-size: 1.5rem;"></i>
    Documents List
  </h3>

  <section class="flex flex-col sm:flex-row gap-4 mt-4">
    <app-user-document [filename]="userDetail?.photo" [filelabel]="'User Photo'" />
    <app-user-document [filename]="userDetail?.aadharFrontPhoto" [filelabel]="'Aadhar Front Photo'" />
    <app-user-document [filename]="userDetail?.aadharBackPhoto" [filelabel]="'Aadhar Back Photo'" />
    <app-user-document [filename]="userDetail?.panPhoto" [filelabel]="'PAN Photo'" />
    <app-user-document [filename]="userDetail?.highestQualificationDoc"
      [filelabel]="'Heighest Education Certificate'" />
  </section>

  @if(!userDetail) {
  <p-progressbar mode="indeterminate" [style]="{'height': '6px'}" />
  }

</div>

<!-- Only show details for non-admin user -->
@if(+(this.userDetail?.userType || 0) !== 1) {
<div class="bg-card rounded-lg p-8">

  <h3 class="text-lg font-bold flex items-center" style="color: var(--primary-color)">
    <i class="pi pi-sitemap mr-2" style="font-size: 1.5rem;"></i>
    Organization Heirarchy
  </h3>
  <app-org-chart [userId]="userId" />
</div>
}