<div class="flex">
    <app-page-header title="Property Search" />
</div>

<div class="grid grid-cols-12 gap-8 mt-4">
    <!-- <div class="gesil-card col-span-12 col-start-1 lg:col-start-3 xl:col-start-3 lg:col-span-8 xl:col-span-8">
        <div class="flex gap-2 w-full">
            <p-autocomplete class="w-full" 
                [placeholder]="`Search by ${searchBy === 'ownerName' ? 'name' : (searchBy === 'pin' ? 'PIN/Survey No': searchBy)}`"
                [(ngModel)]="searchValue" fluid="true" 
                [pAutoFocus]="true"
                [suggestions]="items"
                (completeMethod)="search($event)"
                (onSelect)="onOwnerSelect($event)">
                    <ng-template let-item #item>
                        <div class="flex w-full items-center gap-2">
                            @if(item.photo) {
                                <img [src]="`${env.API_URL}${env.userDownloadDocument}?fileName=${item?.photo}`" style="width: 40px" />
                            } @else {
                                <img src="assets/avatar.png" alt="User Avatar" style="width: 40px" />
                            }
                            <div class="ml-3">
                                <strong>{{item.salutation}} {{ item.ownerName }}</strong>
                                <p class="text-sm">Mobile: {{item.mobile}}</p>
                                <p class="text-sm">Aadhar: {{item.aadhar | aadharMask}}</p>
                            </div>
                        </div>
                    </ng-template>
                </p-autocomplete>
        </div>
        <p class="text-center my-4 font-semibold">Search By</p>
        <div class="flex flex-wrap justify-center gap-4">
            <div class="flex items-center">
                <p-radiobutton name="name" value="pin" [(ngModel)]="searchBy" inputId="searchBy0" />
                <label for="searchBy0" class="ml-2">PIN</label>
            </div>
            <div class="flex items-center">
                <p-radiobutton name="name" value="ownerName" [(ngModel)]="searchBy" inputId="searchBy1" />
                <label for="searchBy1" class="ml-2">Name</label>
            </div>

            <div class="flex items-center">
                <p-radiobutton name="mobile" value="mobile" [(ngModel)]="searchBy" inputId="searchBy2" />
                <label for="searchBy2" class="ml-2">Mobile</label>
            </div>

            <div class="flex items-center">
                <p-radiobutton name="aadhar" value="aadhar" [(ngModel)]="searchBy" inputId="searchBy3" />
                <label for="searchBy3" class="ml-2">Aadhar</label>
            </div>
            <div class="flex items-center">
                <p-radiobutton name="pan" value="pan" [(ngModel)]="searchBy" inputId="searchBy4" />
                <label for="searchBy4" class="ml-2">PAN</label>
            </div>
            <div class="flex items-center">
                <p-radiobutton name="email" value="email" [(ngModel)]="searchBy" inputId="searchBy5" />
                <label for="searchBy5" class="ml-2">Email ID</label>
            </div>
        </div>
    </div> -->

    <div class="gesil-card col-span-12 col-start-1 lg:col-start-4 xl:col-start-4 lg:col-span-6 xl:col-span-6">
        <form class="flex flex-col gap-4" #f="ngForm" (ngSubmit)="searchProperty(f.value)">

            <p-inputgroup>
                <input type="text" pInputText [pAutoFocus]="true" name="searchValue"
                    [placeholder]="`Search by ${searchForm.searchBy === 'ownerName' ? 'Owner Name' : (searchForm.searchBy === 'householdNo' ? 'PIN/Survey No': searchForm.searchBy)}`"
                    [ngModel]="searchForm.searchValue"
                    (ngModelChange)="searchForm.searchValue = $event.toUpperCase()" />
                <p-inputgroup-addon>
                    <p-button type="submit" [disabled]="!searchForm.searchValue.trim()" icon="pi pi-search"
                        severity="primary" variant="text" (click)="searchProperty(f.value)" />
                </p-inputgroup-addon>
            </p-inputgroup>
            <div class="flex flex-wrap justify-center gap-4">
                <div class="flex items-center">
                    <p-radiobutton name="searchBy" value="householdNo" [(ngModel)]="searchForm.searchBy"
                        inputId="searchBy0" />
                    <label for="searchBy0" class="ml-2">PIN/Survey No.</label>
                </div>
                <!-- <div class="flex items-center">
                    <p-radiobutton name="searchBy" value="ownerName" [(ngModel)]="searchForm.searchBy" inputId="searchBy1" />
                    <label for="searchBy1" class="ml-2">Name</label>
                </div> -->

                <div class="flex items-center">
                    <p-radiobutton name="searchBy" value="mobile" [(ngModel)]="searchForm.searchBy"
                        inputId="searchBy2" />
                    <label for="searchBy2" class="ml-2">Mobile</label>
                </div>

                <!-- <div class="flex items-center">
                        <p-radiobutton name="aadhar" value="aadhar" [(ngModel)]="searchBy" inputId="searchBy3" />
                        <label for="searchBy3" class="ml-2">Aadhar</label>
                    </div>
                    <div class="flex items-center">
                        <p-radiobutton name="email" value="email" [(ngModel)]="searchBy" inputId="searchBy5" />
                        <label for="searchBy5" class="ml-2">Email ID</label>
                    </div> -->
            </div>


        </form>
    </div>
</div>
@if(properties.length > 0) {
    <div class="flex justify-between items-center mt-4">
        <p>Result ({{properties.length}})</p>
        <button pButton (click)="clearResults()">
            <i class="pi pi-times" pButtonIcon></i>
            <span pButtonLabel>Clear</span></button>
    </div>
}

@for (property of properties; track property.propertyId) {
<div class="gesil-card card-hover col-span-12 mt-4" (click)="onOwnerSelect(property.propertyId || 0)">
    <div class="flex flex-col">
        <strong [style]="{color: 'var(--primary-color)', fontSize: '1.1rem'}" class="mb-2">Owner Name: {{property.ownerName}}</strong>
        @if(property.householdNo) {
        <p><strong class="mr-2">Household No. /PIN: </strong>{{property.householdNo}}</p>
        }
        @if(property.surveyNo) {
        <p><strong class="mr-2">Survey No: </strong>{{property.surveyNo}}</p>
        }
        @if(property.careOf && property.guardianName) {
            <p><strong class="mr-2">{{property.careOf}}: </strong>{{property.guardianName}} </p>
        }
        <p><strong class="mr-2">Mobile: </strong>{{property.mobile}}</p>
    </div>
</div>
} @empty {
<!-- <div class="flex justify-center">
    <h4> No property found for the provided details</h4>
</div> -->
}