<app-page-header [title]="'Requests Details'" [backButton]="true" />
<section class="bg-card rounded-lg p-4 mt-4">

    <section class="flex">
        <div class="flex flex-col flex-1">
            <label class="text-sm">Status</label>
            <div class="flex items-center">
                <i [ngClass]="iconClass"></i>
                <span class="font-bold text-sm ml-2" [ngClass]="badgeClass">{{requestDetails?.status}}</span>
            </div>

            <label class="mt-2 text-sm">Request No</label>
            <span class="font-bold text-sm">{{requestDetails?.requestNo}}</span>
        </div>

        <div class="flex flex-col flex-1">
            <label class="text-sm">Requested By</label>
            <span class="font-bold text-sm">{{requestDetails?.createdByName}}</span>
            <label class="mt-2 text-sm">Requested On</label>
            <span class="font-bold text-sm">{{requestDetails?.createdDate}}</span>
        </div>
        <div class="flex flex-col flex-1">
            <label class="text-sm">Property Ref. No</label>
            <span class="font-bold text-sm">{{requestDetails?.householdNo}} | {{requestDetails?.surveyNo}}</span>
            <label class="mt-2 text-sm">Request Type</label>
            <span class="font-bold text-sm">{{requestDetails?.requestType}}</span>
        </div>
    </section>


</section>

<div class="bg-card rounded-lg p-4 mt-4 flex flex-col items-center sm:flex-row sm:items-center sm:justify-between gap-4">
    <div>
        <p class="">Take action for the request.</p>
    </div>
    <div class="flex gap-2">

        @if(requestDetails?.status?.toLowerCase() === 'draft' && requestDetails?.createdBy === currentLoggedUserId) {
            <p-button label="Cancel Request" variant="text" raised="true" severity="danger" icon="pi pi-times" />
            <p-button label="Submit for Approval" variant="text" raised="true" severity="success" icon="pi pi-send" />
            <p-button label="Edit Request" variant="text" raised="true" severity="help" icon="pi pi-pencil" />
        }
        
        @if(requestDetails?.status?.toLowerCase() === 'pending' && requestDetails?.assignedToUserId === currentLoggedUserId) {
            <p-button label="Approve" variant="text" raised="true" severity="success" icon="pi pi-thumbs-up" />
            <p-button label="Reject" variant="text" raised="true" severity="danger" icon="pi pi-times-circle" />
            <p-button label="Send Back" variant="text" raised="true" severity="help" icon="pi pi-arrow-down-left" />
            <p-button label="Edit Request" variant="text" raised="true" severity="help" icon="pi pi-pencil" />
        }

    </div>
</div>

<section class="mt-4 flex flex-col md:flex-row gap-4">
    <section class="bg-card rounded-lg p-4 w-full md:w-1/2 lg:w-2/3">
        <h3 style="color: var(--primary-color);" class="font-bold">Request History</h3>
        @if(requestMasterHistory && requestMasterHistory.length > 0) {

            <p-accordion class="mt-4" [value]="0">
                @for (tab of requestMasterHistory; track tab.updateHistoryId) {
                <p-accordion-panel [value]="tab.versionNo">
                    <p-accordion-header>
                        <div class="w-full">
                            <p class="text-base">Version {{ tab.versionNo }}</p>
                            <p class="text-xs">By: {{ tab.editedByUserName }} (Time: {{ tab.editedDate }})</p>
                        </div>
                    </p-accordion-header>
                    <p-accordion-content>
                        <p class="m-0">{{ tab | json }}</p>
                    </p-accordion-content>
                </p-accordion-panel>
                }
            </p-accordion>
        } @else {
            <p class="mt-4 text-center">No update history </p>
        }
    </section>

    <section class="bg-card rounded-lg p-4 w-full md:w-1/2 lg:w-1/3">
        <h3 style="color: var(--primary-color);" class="font-bold">Approval History</h3>

        @if(requestDetails && requestDetails.status.toLowerCase() === 'draft' ) {
            <p class="mt-4 text-center">Not Applicable</p>
        } @else {
            <p-timeline [value]="events">
                <ng-template #marker let-event>
                    <span class="flex w-8 h-8 items-center justify-center text-white rounded-full z-10 shadow-sm"
                        [ngClass]="event.color">
                        <i [class]="event.icon"></i>
                    </span>
                </ng-template>
                <ng-template #content let-event>
                    <p class="m-0">{{ event.status }}</p>
                    <p class="m-0 text-xs">{{ event.updatedBy }}</p>
                    <p class="m-0 text-xs">{{ event.updatedOn }}</p>
                </ng-template>
            </p-timeline>
        }
    </section>
</section>