<app-page-header title="Apprval History" [backButton]="true" />
<div class="gesil-card mt-4">
    <div>
        <p><strong>Household No. : </strong>{{property.householdNo}}</p>
    </div>

    <div class="mt-4">
        @for(log of logs; track log.logId) {
            <div class="flex justify-between mb-2 border-b-1">
                <p [style]="{color:'var(--primary-color)'}"><strong>{{log.status}}</strong></p>
                <div class="flex flex-col gap-2">
                    <p>{{log.approverName}} ({{log.approverUserTypeName}})</p>
                    <p>{{log.actionDate | date: 'medium'}}</p>
                </div>
            </div>

        }
    </div>
</div>