<div class="flex flex-col sm:flex-row sm:items-start">
    <!-- Image -->
    <div class="w-full sm:w-[120px] flex justify-center sm:justify-start mb-4 sm:mb-0">
        @if(ownerDetail()?.photo) {
            <img [src]="`${env.API_URL}${env.userDownloadDocument}?fileName=${ownerDetail()?.photo}`" alt="User Pic" lazy="true" alt="User Avatar" class="h-auto object-cover" />
        } @else {
            <img src="assets/avatar.png" alt="User Avatar" class="h-auto object-cover" />
        }

    </div>
    <div class="flex-1 sm:mx-4">
        <table>
            <tbody>
                <tr><th class="table-head">Name</th> <td> {{ownerDetail()?.salutaion}} {{ownerDetail()?.ownerName}}</td></tr>
                <tr><th class="table-head">{{ownerDetail()?.careOf}}</th> <td>{{ownerDetail()?.guardianName}}</td></tr>
                <tr><th class="table-head">Mobile</th> <td>{{ownerDetail()?.mobile}}</td></tr>
                <tr><th class="table-head">Email ID</th> <td>{{ownerDetail()?.email}}</td></tr>
                <tr><th class="table-head">Aadhar</th> <td>{{ownerDetail()?.aadhar | aadharMask}}</td></tr>
                <tr><th class="table-head">PAN</th> <td>{{ownerDetail()?.pan}}</td></tr>
                <tr><th class="table-head">Gender</th> <td>{{ownerDetail()?.gender}}</td></tr>
                <tr><th class="table-head">Date of Birth</th> <td>{{ownerDetail()?.dob | date:'dd-MMM-yyy'}}</td></tr>
            </tbody>
        </table>
    </div>

    <div class="flex-1 mt-4 sm:mt-0 gap-2 flex flex-col">
        <div>
            <h3 class="font-bold text-center sm:text-left">Related Documents</h3>
        </div>
        <div> 
            @if(ownerDetail()?.identityProof) {
                <a class="w-full" pButton [outlined]="true" severity="success"
                    [href]="`${env.API_URL}${env.ownerDocumentDownload}?fileName=${ownerDetail()?.identityProof}`"
                    target="_blank" pTooltip="View">Identity Proof <i class="pi pi-eye"></i></a>
            } @else {
                <a class="w-full" pButton icon="pi pi-exclamation-circle" [outlined]="true" severity="warn" [routerLink]="['/owner','owner-edit', ownerDetail()?.ownerId]">Please upload owner's identity proof.</a>
            }

        </div>
        <div> 
        @if(ownerDetail()?.isSpecialOwner) {
            @if(ownerDetail()?.specialCertificate) {
                
                    <a class="w-full" pButton [outlined]="true" severity="success"
                        [href]="`${env.API_URL}${env.ownerDocumentDownload}?fileName=${ownerDetail()?.identityProof}`"
                        target="_blank" pTooltip="View">Certificate <i class="pi pi-eye"></i></a>
                
            } @else{
                <a class="w-full" pButton icon="pi pi-exclamation-circle" [outlined]="true" severity="warn" [routerLink]="['/owner','owner-edit', ownerDetail()?.ownerId]">Please upload certificate.</a>
            }
        }
        </div>
    </div>  
</div>