<div class="grid grid-cols-12 gap-8 mt-4">
    <div class="col-span-12 lg:col-span-4 xl:col-span-4">
        <div class="gesil-card card-hover">
            <div class="flex justify-between align-center">
                <h2 class="text-lg font-bold">Property #1</h2>
                <!-- <div>
                    <p-menu #menu [model]="items" [popup]="true" />
                    <p-button variant="text" (click)="menu.toggle($event)" icon="pi pi-ellipsis-v" />
                </div> -->
            </div>
            <p class="amount mt-2 text-blue-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium,
                porro ipsa officiis modi, commodi dolores ratione reiciendis explicabo omnis eveniet autem eligendi sint
                veniam ipsum.</p>
        </div>
    </div>
    <div class="col-span-12 lg:col-span-4 xl:col-span-4">
        <div class="gesil-card card-hover">
            <h2 class="text-lg font-bold">Property #2</h2>
            <p class="amount mt-2 text-blue-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium,
                porro ipsa officiis modi, commodi dolores ratione reiciendis explicabo omnis eveniet autem eligendi sint
                veniam ipsum.</p>
        </div>
    </div>
    <div class="col-span-12 lg:col-span-4 xl:col-span-4">
        <div class="gesil-card card-hover">
            <h2 class="text-lg font-bold">Property #3</h2>
            <p class="amount mt-2 text-blue-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium,
                porro ipsa officiis modi, commodi dolores ratione reiciendis explicabo omnis eveniet autem eligendi sint
                veniam ipsum.</p>
        </div>
    </div>
</div>