<app-page-header title="Zone List"></app-page-header>

<div class="gesil-card mt-4">
    <p-table [value]="zones"
        dataKey="zoneId" 
        [loading]="tableLoading" 
        [rows]="TABLE_CONFIG.rows"
        [rowHover]="TABLE_CONFIG.rowHover"
        [showGridlines]="TABLE_CONFIG.showGridlines" 
        [paginator]="TABLE_CONFIG.paginator" 
        responsiveLayout="TABLE_CONFIG.responsiveLayout"
        [rowsPerPageOptions]="TABLE_CONFIG.rowsPerPageOptions"
        (onPage)="loadZoneData($event)">
        <ng-template #caption>
            <div class="flex justify-between items-center flex-column sm:flex-row">
                <a [routerLink]="['../','zone-create']" class="p-button ml-auto">
                    <i class="pi pi-plus-circle"></i>Add New Zone
                </a>
            </div>
        </ng-template>

        <ng-template #header>
            <tr>
                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        Sl No
                    </div>
                </th>
                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        Zone Name
                    </div>
                </th>
                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        Action
                    </div>
                </th>
            </tr>
        </ng-template>


        <ng-template #body let-item let-index="rowIndex">
            <tr>
                <td>
                    {{ index + 1 }}
                </td>
                <td>
                    {{ item.zoneName }}
                </td>
                <td>
                    <a pButton icon="pi pi-pencil" [routerLink]="['../', 'zone-edit', item.zoneId]" [rounded]="true" class="mr-2" severity="help"
                     pTooltip="Edit"></a>
                     <a pButton icon="pi pi-eye" [rounded]="true" class="mr-2"
                        [routerLink]="['../','zone-details', item.zoneId]" pTooltip="View"></a>
                </td>

            </tr>
        </ng-template>
    </p-table>
</div>