<app-page-header [title]=" editMode ? 'Edit User Type' : 'Create New User Type' " [backButton]="true"></app-page-header>

<form class="gesil-card mt-8 flex flex-col gap-6" [formGroup]="userTypeForm">
    <div class="font-semibold text-xl">User Type Details</div>

    <div class="flex flex-col gap-6">

        <div class="flex justify-center">
            <div class="flex flex-col w-full md:w-1/2 gap-2">
                <label for="userType">User Type Name</label>
                <input pInputText id="userType" class="w-full" type="text" placeholder="User Type Name"
                    formControlName="userType" />
            </div>           
        </div>

        <div class="flex justify-center">
             <div class="flex flex-col w-full md:w-1/2 gap-2">
                <label for="uerFor">User Type</label>
                    <p-multiselect [options]="allUserTypes" 
                        formControlName="parentReportingUserType"
                        filter="false"
                        optionLabel="userTypeName" placeholder="Select Reporting User Type" 
                        [maxSelectedLabels]="2" [selectionLimit]="2" />

            </div> 
        </div>
    </div>


    <div class="flex gap-2 justify-end ">
        <p-button raised="true" severity="secondary" (click)="userTypeForm.reset()">Reset</p-button>
        <p-button raised="true" type="button" [disabled]="userTypeForm.invalid" (click)="onSaveUserType()">{{ editMode ?
            'Update' : 'Save'}} User Type</p-button>
    </div>
</form>