<app-page-header title="Property Details" [backButton]="true" />

<div class="flex justify-end gap-4">
    <p-button label="Edit Details" (click)="onEditClick($event)" icon="pi pi-pencil" variant="outlined"
        severity="info" />

    <!-- Only Show approve reject button if its pending and to the approver -->
    @if(userId == +(property.attribute1 || 0) && (property.attribute0 === 'Pending')){
    <p-button label="Approve" (click)="onApproveClick($event)" icon="pi pi-check" variant="outlined"
        severity="success" />
    <p-button label="Reject" (click)="onRejectClick($event)" icon="pi pi-check" variant="outlined" severity="danger" />
    }

    <a [routerLink]="['/property','property-demand-list', this.propertyId()]" pButton icon="pi pi-file-check"
        [outlined]="true" severity="help">
        Demands
    </a>
    <a [routerLink]="['/property', 'approval-history', this.propertyId()]" pButton icon="pi pi-list" [outlined]="true"
        severity="contrast">
        Approval History
    </a>

</div>
<div class="gesil-card mb-2 mt-4">
    <div class="flex justify-between mb-4">
        <div>
            @if(property.householdNo) {
                <p [style]="{color: 'var(--primary-color)'}"><strong>Household No/PIN : </strong> {{property.householdNo}} </p>
            }

            @if(property.surveyNo) {
                <p [style]="{color: 'var(--primary-color)'}"><strong>Survey No : </strong> {{property.surveyNo}}</p>
            }
        </div>

        <div class="flex items-end flex-col">
            <p><strong>Approval Status : </strong>
                <span class="inline-block py-1 px-4 text-white rounded-full" [ngClass]="{
                'bg-red-500': property.attribute0 === 'Rejected', 
                'bg-green-500': property.attribute0 === 'Fully Approved',
                'bg-purple-500': property.attribute0 === 'Pending'}">{{property.attribute0}}
                </span>
            </p>
            @if(property.attribute1) {
            <p class="text-sm"><strong>Approver : </strong>{{property.approverName}}</p>
            <p class="text-xs">({{property.approverUserTypeName}})</p>
            }
        </div>
    </div>

    <div class="flex flex-col sm:flex-row sm:items-start">
        <!-- Image -->
        <!-- <div class="w-full sm:w-[120px] flex justify-center sm:justify-start mb-4 sm:mb-0">
            @if(property.photo) {
            <img [src]="`${env.API_URL}${env.userDownloadDocument}?fileName=${property.photo}`" alt="User Pic"
                lazy="true" alt="User Avatar" class="h-auto object-cover" />
            } @else {
            <img src="assets/avatar.png" alt="User Avatar" class="h-auto object-cover" />
            }

        </div> -->
        <div class="flex-1 sm:mx-4">

            <h3 class="font-bold underline mb-2">Owner Details</h3>
            <!-- <p-button icon="pi pi-pencil" [routerLink]="['/owner', 'owner-edit',  property?.propertyId ]"
                    severity="info" [link]="true" [rounded]="true" [text]="true" /> -->


            <table>
                <tbody>
                    <tr>
                        <th class="table-head">Name : </th>
                        <td> {{property.salutation}} {{property.ownerName}}</td>
                    </tr>
                    <tr>
                        <th class="table-head">{{property.careOf}} : </th>
                        <td>{{property.guardianName}}</td>
                    </tr>
                    <tr>
                        <th class="table-head">Mobile : </th>
                        <td>{{property.mobile}}</td>
                    </tr>
                    <!-- <tr><th class="table-head">Email ID</th> <td>{{property.email}}</td></tr>
                <tr><th class="table-head">Aadhar</th> <td>{{property.aadhar | aadharMask}}</td></tr>
                <tr><th class="table-head">PAN</th> <td>{{property.pan}}</td></tr> -->
                    <tr>
                        <th class="table-head">Gender : </th>
                        <td>{{property.gender}}</td>
                    </tr>
                    <tr>
                        <th class="table-head">Date of Birth : </th>
                        <td>{{property.dob | date:'dd-MMM-yyy'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="flex-1 sm:mx-4">
            <h3 class="font-bold underline mb-2">Property Details</h3>
            <table>
                <tbody>
                    <tr>
                        <th class="table-head">Property Type :</th>
                        <td>{{property.propertyType}}</td>
                    </tr>
                    <tr>
                        <th class="table-head">Catergory :</th>
                        <td>{{property.categoryName}}</td>
                    </tr>
                    <tr>
                        <th class="table-head">Sub Category :</th>
                        <td>{{property.subCategoryName}}</td>
                    </tr>

                    <tr>
                        <th class="table-head">Area of Plot (Sq. Ft.) :</th>
                        <td>{{property.areaOfPlot}}</td>
                    </tr>
                    <tr>
                        <th class="table-head">Width of Road Sorrunding (Ft.) :</th>
                        <td>{{property.widthOfRoad}}</td>
                    </tr>

                    <tr>
                        <th class="table-head" [style]="{color: 'var(--primary-color)'}">Zone :</th>
                        <td [style]="{color: 'var(--primary-color)'}"> {{property.zoneName}}</td>
                    </tr>
                    <tr>
                        <th class="table-head" [style]="{color: 'var(--primary-color)'}">Ward :</th>
                        <td [style]="{color: 'var(--primary-color)'}">{{property.ward}}</td>
                    </tr>
                    <tr>
                        <th class="table-head" [style]="{color: 'var(--primary-color)'}">Mohalla Name :</th>
                        <td [style]="{color: 'var(--primary-color)'}">{{property.mohallaNameDetail}}</td>
                    </tr>
                </tbody>
            </table>
        </div>



        <!-- <div class="flex-1 mt-4 sm:mt-0 gap-2 flex flex-col">
        <div>
            <h3 class="font-bold text-center sm:text-left">Related Documents</h3>
        </div>
        <div> 
            @if(property.identityProof) {
                <a class="w-full" pButton [outlined]="true" severity="success"
                    [href]="`${env.API_URL}${env.ownerDocumentDownload}?fileName=${property.identityProof}`"
                    target="_blank" pTooltip="View">Identity Proof <i class="pi pi-eye"></i></a>
            } @else {
                <a class="w-full" pButton icon="pi pi-exclamation-circle" [outlined]="true" severity="warn" [routerLink]="['/owner','owner-edit', property.householdNo]">Please upload owner's identity proof.</a>
            }

        </div>
        <div> 
        @if(property.isSpecialOwner) {
            @if(property.specialCertificate) {
                
                    <a class="w-full" pButton [outlined]="true" severity="success"
                        [href]="`${env.API_URL}${env.ownerDocumentDownload}?fileName=${property.identityProof}`"
                        target="_blank" pTooltip="View">Certificate <i class="pi pi-eye"></i></a>
                
            } @else{
                <a class="w-full" pButton icon="pi pi-exclamation-circle" [outlined]="true" severity="warn" [routerLink]="['/owner','owner-edit', property?.householdNo]">Please upload certificate.</a>
            }
        }
        </div>
    </div>   -->
    </div>

    <div class="flex flex-col sm:flex-row sm:items-start mt-4">
        <!-- <div class="w-full sm:w-[120px] flex justify-center sm:justify-start mb-4 sm:mb-0"></div> -->
        <div class="flex-1 sm:mx-4 ">
            <div class="flex items-center justify-between ">
                <h3 class="font-bold underline">Address of Property</h3>
            </div>
            <table>
                <tbody>
                    <tr>
                        <th class="table-head">House No :</th>
                        <td>{{property.propertyAddressHouseNo}}</td>
                    </tr>
                    <tr>
                        <th class="table-head">Address :</th>
                        <td>{{property.propertyAddress}}</td>
                    </tr>
                    <tr>
                        <th class="table-head"></th>
                        <td>{{property.propertyAddressDistrict}}, {{property.propertyAddressCity}},
                            {{property.propertyAddressPin}}</td>
                    </tr>
                    <tr>
                        <th class="table-head">Land Mark :</th>
                        <td>{{property.propertyAddressLandmark}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="flex-1 sm:mx-4">
            <h3 class="font-bold underline mb-2">Address of Owner</h3>
            <table>
                <tbody>
                    <tr>
                        <th class="table-head">House No :</th>
                        <td>{{property.ownerAddressHouseNo}}</td>
                    </tr>
                    <tr>
                        <th class="table-head">Address :</th>
                        <td>{{property.ownerAddress}}</td>
                    </tr>
                    <tr>
                        <th class="table-head"></th>
                        <td>{{property.ownerAddressDistrict}}, {{property.ownerAddressCity}},
                            {{property.ownerAddressPin}}</td>
                    </tr>
                    <tr>
                        <th class="table-head">Land Mark. :</th>
                        <td>{{property.ownerAddressLandmark}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<p-confirmdialog key="rejectConfirmDialog">
    <ng-template pTemplate="content" let-message>
        <div class="flex flex-column align-items-center p-3 gap-3">
            <span>{{message.header}}</span>

        </div>
    </ng-template>
</p-confirmdialog>

<p-dialog header="Provide rejection reason." [modal]="true" [(visible)]="rejectPopupVisible"
    [breakpoints]="{ '1199px': '45vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false"
    [resizable]="false">
    <div class="flex flex-col">
        <div class="">
            <textarea rows="3" [style]="{'width': '100%'}" pInputTextarea [autoResize]="true"
                [(ngModel)]="rejectComment" placeholder="Enter your rejection reason">
            </textarea>
        </div>
        <div class="flex justify-end gap-2 mt-4">
            <p-button label="Cancel" severity="secondary" (click)="rejectPopupVisible = false" />
            <p-button label="Reject" severity="danger" (click)="onRejectConfirm()" />
        </div>
    </div>
</p-dialog>