<app-page-header [title]="type === 'c' ? 'Property Details (Survery)' : 'Property Details (User Charge)'" [backButton]="true" />



<div class="flex justify-end gap-4">
    <!-- (+userId === +(property.attribute1 || 0) || property.attribute1 === null) && -->
    @if( permissionService.hasPermission(PERMISSIONS.MODIFY_PROPERTY)) {
        <p-button label="Edit Details" (click)="onEditClick($event)" icon="pi pi-pencil" variant="outlined"
            severity="info" />
    }
    
    @if(!permissionService.isEmployeeLogin()) {
        <a pButton icon="pi pi-file-arrow-up" [routerLink]="['/property','property-documents', this.propertyId()]" [outlined]="true" severity="info">Documents</a>
    }


    <!-- Only Show approve reject button if its pending and to the approver -->
    @if(userId == +(property.attribute1 || 0) && (property.attribute0 === 'Pending')){
    <p-button label="Approve" (click)="onApproveClick($event)" icon="pi pi-check" variant="outlined"
        severity="success" />
    <p-button label="Reject" (click)="onRejectClick($event)" icon="pi pi-check" variant="outlined" severity="danger" />
    }

   
    <a [routerLink]="['/property','property-demand-list', this.propertyId()]" pButton icon="pi pi-file-check"
        [outlined]="true" severity="help">
        Demands
    </a>

     @if(!permissionService.isEmployeeLogin()) {

        <a [routerLink]="['/property', 'approval-history', this.propertyId()]" pButton icon="pi pi-list" [outlined]="true"
        severity="contrast">
        Approval History
        </a>
    }

</div>


<div class="flex flex-col-reverse sm:flex-row sm:justify-between  bg-card rounded-lg p-8 mt-4 gap-4">
    <div class="flex flex-col sm:flex-row sm:gap-8 gap-4">
        @if(property.surveyNo) {        
        <div class="flex flex-col">
            <label class="text-basic">Survey No</label>
            <strong class="mt-2 primary-color">{{property.surveyNo}}</strong>
        </div>
        }
        @if(property.householdNo) {
        <div class="flex flex-col">
            <label class="text-basic">Household No/PIN</label>
            <strong class="mt-2 primary-color">CC00220022</strong>
        </div>
        }
        
        <div class="flex flex-col">
            <label class="text-basic">Owner Name</label>
            <strong class="mt-2 primary-color">{{property.salutation}} {{property.ownerName}}</strong>
        </div>
        <div class="flex flex-col">
            <label class="text-basic">Property Type</label>
            <strong class="mt-2 primary-color">{{property.propertyType}}</strong>
        </div>
    </div>
    <div class="flex flex-col">
            <label class="text-basic">Approval Status</label>
            <p-badge [value]="property.attribute0 || 'Unknown'" badgeSize="xlarge"
            [severity]="property.attribute0 === 'Rejected' ? 'danger' : 
            property.attribute0 === 'Fully Approved' ? 'success' : 
            property.attribute0 === 'Pending' ? 'info' : 
            property.attribute0 === 'New' ? 'contrast' : 
            'contrast'" />
    </div>
</div>


<div class="flex flex-col sm:flex-row gap-4 mt-4">
    <div class="flex p-8 flex-1 rounded-lg bg-card">
        <div class="w-[50px] h-[50px] bg-green-100 rounded-lg flex justify-center items-center">
            <i class="pi pi-map-marker text-green-500" style="font-size: 2rem;"></i>
        </div>
        <div class="flex flex-col ml-4 justify-center">
            <label class="text-base font-bold">Zone</label>
            <span class="mt-2 text-base">{{property.zoneName}}</span>
        </div>
    </div>
    <div class="flex p-8 flex-1 rounded-lg bg-card">
        <div class="w-[50px] h-[50px] bg-blue-100 rounded-lg flex justify-center items-center">
            <i class="pi pi-users text-blue-500" style="font-size: 2rem;"></i>
        </div>
        <div class="flex flex-col ml-4 justify-center">
            <label class="text-base font-bold">Ward</label>
            <span class="mt-2 text-base">{{property.ward}}</span>
        </div>
    </div>
    <div class="flex p-8 flex-1 rounded-lg bg-card">
        <div class="w-[50px] h-[50px] bg-orange-100 rounded-lg flex justify-center items-center">
            <i class="pi pi-building text-orange-500" style="font-size: 2rem;"></i>
        </div>
        <div class="flex flex-col ml-4 justify-center">
            <label class="text-base font-bold">Mohalla</label>
            <span class="mt-2 text-base">{{property.mohallaNameDetail}}</span>
        </div>
    </div>
    <div class="flex p-8 flex-1 rounded-lg bg-card">
        <div class="w-[50px] h-[50px] bg-purple-100 rounded-lg flex justify-center items-center">
            <i class="pi pi-window-maximize text-purple-500" style="font-size: 2rem;"></i>
        </div>
        <div class="flex flex-col ml-4 justify-center">
            <label class="text-base font-bold">Area</label>
            <span class="mt-2 text-base">{{property.areaOfPlot}}</span>
        </div>
    </div>
    <div class="flex p-8 flex-1 rounded-lg bg-card">
        <div class="w-[50px] h-[50px] bg-teal-100 rounded-lg flex justify-center items-center">
            <i class="pi pi-directions text-teal-500" style="font-size: 2rem;"></i>
        </div>
        <div class="flex flex-col ml-4 justify-center">
            <label class="text-base font-bold">Width Of Road</label>
            <span class="mt-2 text-base">{{property.widthOfRoad}}</span>
        </div>
    </div>
</div>

<div class="flex flex-col sm:flex-row gap-4 mt-4">
    <div class="bg-card p-8 rounded-lg flex-1">
        <div class="flex items-center">
            <i class="pi pi-user" style="font-size: 2rem;"></i>
            <h3 class="ml-4 text-lg font-bold">Owner Information</h3>
        </div>

        <div class="mt-4">
            <proeprty-detail-line [label]="'Name'" [value]="`${property.salutation} ${property.ownerName}`" />
            <proeprty-detail-line [label]="'Mobile'" [value]="property.mobile" />
            <proeprty-detail-line [label]="'Gender'" [value]="property.gender" />
            <proeprty-detail-line [label]="'Date of Birth'" [value]="property.dob | date:'dd-MMM-yyy'" />
        </div>
    </div>

    <div class="bg-card p-8 rounded-lg flex-1">
        <div class="flex items-center">
            <i class="pi pi-home" style="font-size: 2rem;"></i>
            <h3 class="ml-4 text-lg font-bold">Property Information</h3>
        </div>

        <div class="mt-4">
            <proeprty-detail-line [label]="'Category'" [value]="property.categoryName" />
            <proeprty-detail-line [label]="'Sub Category'" [value]="property.subCategoryName" />
            <proeprty-detail-line [label]="'Type of Ownership'" [value]="property.typeOfOwnership" />
            <proeprty-detail-line [label]="'Area of Plot'" [value]="property.areaOfPlot" />
            <proeprty-detail-line [label]="'Open Area of Plot'" [value]="property.openAreaOfPlot" />
        </div>
    </div>
</div>

<div class="flex flex-col sm:flex-row gap-4 mt-4">
    <div class="bg-card p-8 rounded-lg flex-1">
        <div class="flex items-center">
            <i class="pi pi-user" style="font-size: 2rem;"></i>
            <h3 class="ml-4 text-lg font-bold">Owner Address</h3>
        </div>
        <div class="mt-4">
            <proeprty-detail-line [label]="'House No'" [value]="property.ownerAddressHouseNo" />
            <proeprty-detail-line [label]="'District'" [value]="property.ownerAddressDistrict" />
            <proeprty-detail-line [label]="'City'" [value]="property.ownerAddressCity" />
            <proeprty-detail-line [label]="'PIN'" [value]="property.ownerAddressPin" />
            <proeprty-detail-line [label]="'Land Mark'" [value]="property.ownerAddressLandmark" />
            <proeprty-detail-line [label]="'Address'" [value]="property.ownerAddress" />
        </div>
    </div>

    <div class="bg-card p-8 rounded-lg flex-1">
        <div class="flex items-center">
            <i class="pi pi-home" style="font-size: 2rem;"></i>
            <h3 class="ml-4 text-lg font-bold">Property Address</h3>
        </div>
        <div class="mt-4">
            <proeprty-detail-line [label]="'House No'" [value]="property.propertyAddressHouseNo" />
            <proeprty-detail-line [label]="'District'" [value]="property.propertyAddressDistrict" />
            <proeprty-detail-line [label]="'City'" [value]="property.propertyAddressCity" />
            <proeprty-detail-line [label]="'PIN'" [value]="property.propertyAddressPin" />
            <proeprty-detail-line [label]="'Land Mark'" [value]="property.propertyAddressLandmark" />
            <proeprty-detail-line [label]="'Address'" [value]="property.propertyAddress" />
        </div>
    </div>
</div>


<p-confirmdialog key="rejectConfirmDialog">
    <ng-template pTemplate="content" let-message>
        <div class="flex flex-column align-items-center p-3 gap-3">
            <span>{{message.header}}</span>

        </div>
    </ng-template>
</p-confirmdialog>

<p-dialog header="Provide rejection reason." [modal]="true" [(visible)]="rejectPopupVisible"
    [breakpoints]="{ '1199px': '45vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false"
    [resizable]="false">
    <div class="flex flex-col">
        <div class="">
            <textarea rows="3" [style]="{'width': '100%'}" pInputTextarea [autoResize]="true"
                [(ngModel)]="rejectComment" placeholder="Enter your rejection reason">
            </textarea>
        </div>
        <div class="flex justify-end gap-2 mt-4">
            <p-button label="Cancel" severity="secondary" (click)="rejectPopupVisible = false" />
            <p-button label="Reject" severity="danger" (click)="onRejectConfirm()" />
        </div>
    </div>
</p-dialog>