<app-page-header title="Create Usage Type" [backButton]="true"/>

<div class="mt-4">
    <form class="bg-card p-4 rounded-lg flex flex-col gap-6" [formGroup]="createUsageTypeForm">
        <div class="font-semibold text-xl">Property Type {{this.editMode()}}</div>

        <div class="flex flex-col gap-6">
            <div class="flex justify-center">
                <div class="flex flex-col w-full md:w-1/2 gap-2">
                    <label for="usageTypeName">Usage Type Name</label>
                    <input pInputText id="usageTypeName" class="w-full" type="text" placeholder="Usage Type Name"
                        formControlName="usageTypeName" />
                </div>
            </div>
            <div class="flex justify-center">
                <div class="flex flex-col w-full md:w-1/2 gap-2">
                    <label for="chargesPerMonth">Charges Per Month</label>
                    <p-inputNumber formControlName="chargesPerMonth" mode="decimal" inputId="chargesPerMonth"
                        [minFractionDigits]="2" [maxFractionDigits]="5" />
                </div>
            </div>
            <div class="flex justify-center">
                <div class="flex flex-col w-full md:w-1/2 gap-2">
                    <label for="chargesPerYear">Charges Per Year</label>
                    <p-inputNumber formControlName="chargesPerYear" mode="decimal" inputId="chargesPerYear"
                        [minFractionDigits]="2" [maxFractionDigits]="5" />
                </div>
            </div>
        </div>


        <div class="flex gap-2 justify-end ">
            <p-button raised="true" severity="secondary" (click)="createUsageTypeForm.reset()">Reset</p-button>
            <p-button raised="true" type="button" [disabled]="createUsageTypeForm.invalid"
                (click)="onSaveUsageType()">{{ editMode() ?
                'Update' : 'Save'}} Usage Type</p-button>
        </div>
    </form>

</div>